// This file is used to add styles to the style guide and is not included in
// the Drupal site. It gets included by the style guide by adding it to the
// options.styleGuide.css object in gulpfile.js.

// Add an outline to every grid item in the style guide.
[id^="kssref-layouts-"] [class^="layout-"][class*="__"] {
  outline: 1px dotted color('grey');
}

@media screen and (min-width: 769px) {
  #kss-node .kss-main {
    width: 80%;
    padding: 0 3%;
  }
}

#kss-node {
  // let it go full screen
  section.kss-section {
    max-width: none;
  }
  // fix line numbers
  ol.linenums {
    li {
      margin: 0;
      text-indent: 0;
      &:before {
        border: none;
        line-height: auto;
        height: auto;
      }
    }
  }
}

// kss uses articles which totally inherits our theme's list items
article {
  ul {
    li {
      padding-left: 0;
      background: none;
    }
  }
}

// put the page header inside a kss section instead of the top of the page
.kss-container {
  header {
    position: relative;
    top: auto;
    left: auto;
  }
}

// topic intro image
.hero-image {
  margin-top: 0;
}
.fullwidth {
  width: 100%;
}
.node-type-topic-page {
  .intro-content {
    width: 100%;
  }
  .topic-hero-text-wrapper {
    margin-top: -290px;
    @media (min-width: 480px) {
      margin-top: -400px;
    }
    @media (min-width: 980px) {
      margin-top: -460px;
    }
  }
}
