// SPECIFIC TO NEWS LANDING PAGE

// STRUCTURE
.view-bos-news-landing {

  @extend .fullwidth;
  padding-bottom: 100px;

  .view-filters,
  .view-content {
    @extend .container;
  }

  .view-filters {
    position: relative;
    top: -50px;
    background-color: color(section-bg);
    margin-top: 100px;
  }

  .views-row {
    @extend .tablet-50;
    @extend .desktop-100;
  }

}

// THEME
.view-bos-news-landing {
  background-color: color(section-bg);
}
