.ui-list--secondary .list-item:first-child {
  @include border-sm($top: 1, $bottom: 0);
}

.list-item {
  @include border-sm;
  padding: 0 0 20px;
  margin: 0 0 20px;

  &:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
}

.tabbed-info-wrapper .desktop-33-right {
  .list-item:first-child {
    padding-top: 20px;
  }
}

.node-type-program-initiative-profile .desktop-33-right {
  position: relative;
  z-index: 11;
  padding-top: 50px;
}
