
.teaser {
  @include border-sm;
  padding: 20px 0;

  &.active {
    border-bottom: none;
  }

  .title {
    font-family: $montserrat;
    text-transform: uppercase;
    color: color(link);
    line-height: 1.5rem;
    display: block;

    @include respond-to(xl) {
      margin-right: 200px;
    }

    &:hover {
      color:color(link-secondary);
    }
    .live-stream-flag {
      display:none;

      @include respond-to(xl) {
        @include font-size(xxs);
        font-family: $montserrat;
        text-transform: uppercase;
        color: color(freedom-trail-red);
        font-weight: bold;
        display: inline;
        float: left;
        background-image: url("../img/icon-play.svg");
        background-position: 0 5px;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        padding-left: 20px;
	margin-right: 5px;
      }
    }
  }

  .time-range {
    display: block;
    padding-right: 15px;
    line-height: 1.5rem;

    @include respond-to(xl) {
      float: right;
    }
    .live-stream-flag {
      @include font-size(xxs);
      font-family: $montserrat;
      text-transform: none;
      color: color(freedom-trail-red);
      font-weight: bold;
      @include respond-to(xl) {
        display:none;
      }      
    }
  }
}

.event-details  {
  border: 20px solid color(grey-extra-light);
  padding: 35px;

  .intro-text {
    padding-bottom: 40px;
    margin-bottom: 35px;
  }

  .detail-item--secondary {
    .detail-item__left {
      display: block;
      margin-bottom: 10px;

      @include respond-to(xl) {
        display: table-cell;
        margin-bottom: 0;
      }
    }

    .detail-item__body--secondary {
      .detail-item__left {
        display: none;
      }

      li {
        background-position: left 7px;
        
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .detail-item__content {
      display: block;

      @include respond-to(xl) {
        display: table-cell;
      }
    }
  }
}

// Adds margin in listing page event detail
.event-details .description {
  margin-top: 40px;
}
