.node-type-how-to, .node-type-tabbed-content {

  h1.page-title {
    @extend %visually-hidden;
  }

  .content-section-tabs {
    margin: 0;

    @include respond-to(xl) {
      margin: -70px 0 50px 0;
      position: relative;
      z-index: 1;
    }
  }

  .paragraphs-item-how-to-text-step,
  .paragraphs-item-how-to-contact-step{
    position: relative; // This contains height 100% of .step-line to this element.
  }

  .step-line {
    display: none;
    @include respond-to(xl) {
      display:block;
      width: 3px;
      height: calc(100% + 40px);
      background-color: color(border);
      position: absolute;
      margin-left: 60px;
    }
  }

  .step-content h2 {
    font-size: 24px;
    margin-top: 0;
    @include respond-to(xl) {
      @include type-layout(xl, 47px);
      @include margin-top(1);
    }
  }

  // Step Counter Generation

  .tab-p {
    counter-reset: section;
  }

  // Step Counter Structure

  .step-label-wrapper {
    height: 60px;
    width: 60px;
    padding: 10px 0;
    border: 3px solid;

    @include respond-to(xl) {
      float: left;
      margin-type: -30px;
      height: 122px;
      width: 122px;
      padding: 18px 0;
    }
  }

  .step-content {
    @include respond-to(xl) {
      margin-left: 150px;
    }
  }

  // Step Counter Theme

  .step-label-wrapper {
    @include sans-upper-dark(color(text-light));
    @include type-layout(xs, 18px);
    border-color: color(border);
    border-radius: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: color(text-bg);
  }

  .step-number {
    @include sans-upper-dark(color(text-red));
    @include type-layout(20px, 18px);
    font-weight: 700;

    @include respond-to(xl) {
      @include type-layout(60px);
    }
  }

}

// For How-To page only, not tabbed page.
.node-type-how-to {

  .tabbed-info-wrapper {
    margin-top:50px;
  }

    .component-section {
    padding: 0 0 30px;
    @include respond-to(xl) {
      padding: 0 0 50px;
    }
    &:last-child {
      .step-line {
        display: none;
      }
    }
  }
}
