// POST FULL NODE

.node-type-post {

  .news-tags {
    @include type-layout(xs);

    label {
      display: inline;
    }

    a {

      font-family: $montserrat;
      text-transform: uppercase;

      &:after {
        content: ',';
        color: color(text-dark);
      }

      &:last-child:after {
        content: ' ';
      }

    }

  }

}

.date-flag {
  position: absolute;
  top: -1px;
  margin-left: 10px;
  width: 65px;
  padding: 20px 15px 35px;
  z-index: 1;
}

a.item-link {
  @include linked-component(2);
}

// POST LISTING AND LISTING SHORT VIEW MODES

// STRUCTURE
.news-item {
  position: relative;
  padding-left:0;
  padding-right: 0;
  height: 450px;
  margin-bottom: $default-gutter;

  &-wrapper {
    padding: 0;
    height: 100%;
    position: relative;
    margin-left: 1px;
  }

  .news-left, .news-right {
    padding-top: 0px;
    @include respond-to(xl) {
      padding-top: 20px;
    }
  }

  @include respond-to(xl) {
    height: 500px;
  }

  @include respond-to(xl) {
    height: 190px;
  }

  &-default-image{
    background-color: color(charles-blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: auto;
    span {
     display: none;
    }
  }

  .thumb-wrapper {
    height: 230px;
    overflow: hidden;
    margin-top: -20px;
    width: 100%;
    margin-left: -1px;

    @include respond-to(xl) {
      float: left;
      margin-right: 20px;
      width: 190px;
      height: 190px;
    }

    img {
      min-width: 100%;
    }
  }



  h3.title {
    margin: 15px 30px 10px 30px;
    @include type-layout(m, .75);
    @include respond-to(s) {
      @include type-layout(22px, 28px);
    }
    @include respond-to(xl) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .news-right {
    border-left: 0;
    @include respond-to(xl) {
      padding-left: $default-gutter;
      @include border-sm($bottom: 0, $left: 1px)
    }
  }

  .intro-text {
    display: none;
    @include respond-to(xl) {
      display: block;
      @include type-layout(s, 26px);
    }
    @include respond-to(xxl) {
      @include type-layout(m, .8);
    }
  }

    .department-title {
    margin: 0 30px 40px;
    @include respond-to(xl) {
      display:none;
    }
  }

  .contact-wrapper {

    @include respond-to(xxl) {
      width: 100px;
    }

    @include respond-to(xl) {
      float: right;
      height: 190px;
      width: 56px;
      margin: -20px 0 0 20px;
    }
  }
}

// STRUCTURE OVERRIDES FOR LISTING SHORT VIEW MODE
.paragraphs-item-news-announcements .news-item,
.paragraphs-item-upcoming-events .news-item {

  @include respond-to(m) {
    height: 190px;
  }

  @include respond-to(xl) {
    height: 190px;
  }

  .thumb-wrapper {
    @include respond-to(m) {
      float: left;
      margin-right: 20px;
      margin-top: 0;
      width: 190px;
      height: 190px;
    }
  }

  .text-wrapper {
    @include respond-to(m) {
      margin-left: 170px;
      padding: 20px 20px 20px 0;
    }
  }

  h3.title {
    margin: 15px 30px 10px 30px;
    @include respond-to(m) {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  .department-title {
    margin: 0 30px 40px;
    @include respond-to(xl) {
      display: block;
    }
  }

  .contact-wrapper {
    @include respond-to(m) {
      float: right;
      height: 190px;
      width: 56px;
      margin: -20px 11px 0;
    }
  }

}

// THEME
.news-item,
.post-featured-item-wrapper,
.featured-item-details {

  &-wrapper {
    background-color: color(text-bg);
  }

  h3.title {
    color: color(link);
  }

  .department-title {
    @include sans-upper-dark(color(text-light));
    @include type-layout(s, .5);
  }

  .date-flag {
    background-image: url("../img/ribbon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: $montserrat;
    font-weight: 700;
    position: absolute;
    top: -1px;
    margin-left: 10px;
    width: 65px;
    padding: 20px 15px 35px;
    z-index: 1;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: color(text-dark);

      &--blue {
        background-image: url("../img/ribbon-charles.svg");
        color: color(white);
      }

      &--left {
        margin-left: 0;
        top: 0;
      }
  }

  .news-right {
    border-color: color(border);
  }

  .contact-wrapper {

    .field-name-field-contact {
      @include respond-to(xl) {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .department-icon {

      @include respond-to(xl) {

        a.popup-title {
          text-align: center;
        }

        a.popup-title:hover {
          .tooltip-tail {
            background-color: #091f2f;
          }
        }

        a.popup-title[title]:hover:after {
          content: attr(title);
          color: color(text-bg);
          background-color: color(text-dark);
          font-family: $montserrat;
          text-transform: uppercase;
          @include type-layout(xxs,1);
        }
      }
    }
  }
}

.paragraphs-item-news-announcements .news-item:hover,
.paragraphs-item-upcoming-events .news-item:hover {
  .news-item-wrapper {
    background-color: color(link);

    h3.title,
    .department-title {
      color: color(text-bg);
    }
  }
}

.node-type-department-profile .post-featured-item-wrapper,
.post-featured-item-wrapper {

  .department-title {
    .department-title {
      display: none;
    }
  }

  .featured-item-details {
    padding: 0 calc(#{$default-gutter} * 2);
    @include respond-to(m) {
      padding-left: $default-gutter;
      padding-bottom: calc(#{$default-gutter} * 2);
    }
    @include respond-to(xl) {
      margin-bottom: 0;
    }
  }

  .department-icon {
    height: 60px;
    width: 60px;
    float: right;
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
    @include respond-to(m) {
      height: 75px;
      width: 75px;
      margin-top: 35px;
    }

    img {
      padding: 0;
      width: 100%;
      height: auto;
    }
  }

  .feature-header {
    @include clearfix;
    @include border-sm;
    margin-bottom: $default-gutter;

    h3 {
      display: block;
      width: calc(100% - 60px;);
      float: left;
      @include margin(25px 0);
      @include respond-to(m) {
        width: calc(100% - 85px;);
        @include margin(39px 0);
       }
    }
  }
}

// POST FEATURED ITEM VIEW MODE IN NEWS AND ANNOUNCEMENTS COMPONENT
// Overrides base styles when in news component

.paragraphs-item-news-announcements,
.paragraphs-item-upcoming-events {
  .post-featured-item-wrapper {
    background-color: color(text-bg);
    margin-bottom: $default-gutter;
    position: relative;

    &:hover {
      background-color: color(link);
      color: color(text-bg);

      h3.title {
        color: color(text-bg);
      }
    }

    .desktop-2-col.thumb-column {
      margin-bottom: 0;
    }

  }
}

/**
 * Specifics for post, listing view mode.
 */
.news-item-listing {
  h3.title {
    @include respond-to(m) {
      @include type-layout(l);
    }
    @include respond-to(xl) {
      @include type-layout(m, .75);
    }
    @include respond-to(xxl) {
      @include type-layout(l, 35px);
    }
  }
  .news-left {
    @include respond-to(m) {
      margin-bottom: 1em;
    }
  }
}


.featured-item-details {
  .date-flag {
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;    
    width: auto;
    color: color(optimistic-blue);
    text-align: left;
    position: relative;
    top: 20px;
    padding: 0;

    
    @include respond-to(m) {
      position: absolute;
      top: -1px;
      margin-left: 10px;
      width: 65px;
      padding: 20px 15px 35px;
      z-index: 1;
      background-image: url("../img/ribbon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      font-family: $montserrat;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      color: color(text-dark);

      &--blue {
        background-image: url("../img/ribbon-charles.svg");
        color: color(white);
      }

      &--left {
        margin-left: 0;
        top: 0;
      }    

    }
  }
}