.node-script-page {
  .detail-item__body--secondary li a {
    line-height: 39px;
  }

  .pdf-link{
    border-top: 1px solid lightgrey;
    margin: 0px;
    padding: 30px 0 10px;
  }

  .contact-info {
    @include margin-top(1);

    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed color(border);

    & p {
      margin-bottom: 16px;
    }

    & > p {
      font-style: italic;
    }

  }

  h5.contact-title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin: 0 0 20px;
  }

  .contact-info address {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

#rCw label{
  line-height: 20px;
}
