// Shared styles - Listing and Listing Long viewmodes
.topic-wrapper {

  .topic-highlight-area {
    position: relative;
    @include respond-to(m) {
      height: 350px;
    }

    .topic-listing-title {
      @include sans-upper-dark(color(text-dark), 700);
      @include type-layout(20px, 25px);
      @include respond-to(m) {
        @include type-layout(l, 35px);
      }

    }

    .grid-of-topics-label {
      @include serif-italic-text($color: color(text-dark));
      @include type-layout(s, 30px);
      @include respond-to(m) {
        @include type-layout(m, 40px);
      }
    }

    &:hover {
      cursor: pointer;

      .topic-details {
        background-color: color(button-bg-hover);
      }

      .topic-listing-title   {
        color: color(white);
      }
      .topic-listing-title   {
        text-transform: uppercase;
      }
    }
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid color(text-dark);
    height: 166px;
    img {
      max-width: none;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: auto;

      @include respond-to(m) {
        height: 101%;
        width: auto;
      }
    }
  }

  .topic-details {
    height:  auto;
    padding: $default_gutter;
    overflow: hidden;
    &:hover {
      .topic-listing-title {
        color : color(white);
      }
    }
    @include respond-to(m) {
      height: 184px;
    }
    @include respond-to(xl) {
      padding: calc(#{$default_gutter} / 2);
    }
    @include respond-to(xxl) {
      padding: calc(#{$default_gutter} / 2) $default_gutter;
    }
  }

  .topic-link-area {
    @include border-sm($top: 1px, $bottom: 0);
    background-color: color(text-bg);
    padding: $default_gutter;
    line-height: 25px;
    width: 100%;

    @include respond-to(xl) {
      padding: calc(#{$default_gutter} / 2);
    }

    @include respond-to(xxl) {
      padding: calc(#{$default_gutter} / 2) $default_gutter;
    }

    .topics-links {
      margin-bottom: 10px;
    }

    ul li {
      margin: 0rem 0rem 0.625rem 0rem;
      font-size: smaller;
      font-family: $montserrat;
      background : url("../img/ul-bullet.svg") no-repeat left 5px transparent;
      background-size: 10px;
      line-height: 15px;
    }

  }
}

// Listing Long viewmode only styles
article.view-mode-listing_long {
background-color: color(text-bg);
  position: relative;

  a.item-link {
    @include linked-component(1);
  }
}

// Listing viewmode only styles
.paragraphs-item-grid-of-topics {

  .topic-highlight-area {
    height: 125px;
    text-align: left;
    background-color: color(white);
    @include respond-to(m) {
      height: 375px;
    }

    .topic-details {
      padding: calc(#{$default_gutter} / 2);
      @include respond-to(m) {
        padding: $default_gutter;
        padding-top: 0;
      }
    }

    .topic-listing-title {
      text-transform: uppercase;
    }
    .grid-of-topics-label {
      @include serif-italic-text($color: color(text-dark));
    }

    img {
      width: auto;
      height: 100%;
      float: left;
      border-right: 5px solid color(blue-extra-dark);

        @include respond-to(m) {
          max-height: 44%;
          width: 100%;
          float : none;
          border-right : none;
          border-bottom: 5px solid color(blue-extra-dark);
        }
    }

    .topic-listing-title {
      @include type-layout(l, 25px);
      font-family: $montserrat;
      @include respond-to(m) {
        @include type-layout(l, 35px);
      }
    }

    &:hover {
      background-color: color(button-bg-hover);
      cursor: pointer;

      .topic-listing-title   {
        color: color(white);
      }
      .topic-listing-title   {
        text-transform: uppercase;
      }
    }
  }
}
