.node-type-article, .node-type-how-to {

  .contact-info {
    @include margin-top(1);

    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px dashed color(border);

    & p {
      margin-bottom: 16px;
    }

    & > p {
      font-style: italic;
    }

  }

  h5.contact-title {
    border-bottom: 1px dashed lightgray;
    padding-bottom: 10px;
    margin: 0 0 20px;
  }

  .contact-info address {
    margin-top: 16px;
    margin-bottom: 16px;
  }

}
