.node-type-department-profile {

  h1.title {
    text-align: center;

    @include respond-to(xl) {
      text-align: left;
    }
  }

  .department-icon {
    display: none;
    margin-top: 39px;

    @include respond-to(xl) {
      display: block;
      width: 112px;
      height: 112px;
      border: 3px solid color(text-dark);
      border-radius: 100%;
    }

    img {
      height: 112px;
      width: 112px;
      padding: 25px;
    }
  }

  h5.contact-title {
    @include border-sm;
    padding-bottom: 10px;
    margin: 20px 0 20px;
  }

  .open-hours .component-section {
    padding: 30px 0;
  }

} // end .node-type-department-profile
