// Styles for any input[text]/input[submit] combo that should appear
//  as the default Boston search bar.

.bos-search-form {

  padding: 50px 0 0;

  &--dropdown {
    padding: 0;
  }

  &--in-page {
    margin-top: 35px;
    margin-bottom: -15px;

    @include respond-to(m) {
      margin-top: 50px;
      margin-bottom: -10px;
    }
  }

  input.usagov-search-autocomplete,
  .bos-search-field {
    @include type-layout(l, 40px);
    border: none;
    outline: none;
    border-bottom: 8px solid;
    padding: 0 60px 0 0;
    // width: 70%;
    height: 1.6em;
    background-color: transparent;
    @include respond-to(m) {
      @include type-layout(xl);
    }
  }
  // Overrides for usa gov search.
  input.usagov-search-autocomplete {
    width: 70%;
  }

  .views-exposed-widget {
    padding-right: 0;
  }

  .views-submit-button,
  .views-exposed-widget.views-submit-button {
    float: none;
    text-align: right;
    margin-right: 5px;
    margin-top: -65px;
    @include respond-to(xl) {
      margin-top: -50px;
    }
  }

  .usagov-search-submit,
  .views-submit-button .bos-search-submit,
  .bos-search-submit {
    background: url('../img/magnifying-glass-icon.svg') no-repeat;
    cursor:pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    position: relative;
    right: 0;
    top: -10px;
    text-indent: -9999px;
    overflow: hidden;

    &:hover {
      background-color: transparent;
    }
  }

  .usagov-search-submit {
    right: 45px;
  }

}
