<div class="form-item webform-component webform-component-checkboxes webform-component--checkbox">
  <div class="form-checkboxes" id="edit-submitted-checkbox">
    <div class="form-item form-type-checkbox form-item-submitted-checkbox-1">
      <input type="checkbox" class="form-checkbox" value="1" name="submitted[checkbox][1]" id="edit-submitted-checkbox-1">  <label for="edit-submitted-checkbox-1" class="option">Option 1 </label>
    </div>
    <div class="form-item form-type-checkbox form-item-submitted-checkbox-2">
      <input type="checkbox" class="form-checkbox" value="2" name="submitted[checkbox][2]" id="edit-submitted-checkbox-2">  <label for="edit-submitted-checkbox-2" class="option">Option 2 </label>
    </div>
    <div class="form-item form-type-checkbox form-item-submitted-checkbox-3">
      <input type="checkbox" class="form-checkbox" value="3" name="submitted[checkbox][3]" id="edit-submitted-checkbox-3">  <label for="edit-submitted-checkbox-3" class="option">Option 3 </label>
    </div>
  </div>
</div>