<div class="dropdown">
  <span class="old">
    <select name="submitted[dropdown]" id="edit-submitted-dropdown" class="form-select {{modifier_class}}">
      <option selected="selected" value="">Select a thing</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </span>
  <span class="selected">Select a thing</span>
  <span class="carat"></span>
  <div>
    <ul>
      <li class="active">Select a thing</li>
      <li>Option 1</li>
      <li>Option 2</li>
      <li>Option 3</li>
    </ul>
  </div>
</div>
