<div class="form-item webform-component webform-component-radios webform-component--radio">
  <div class="form-radios" id="edit-submitted-radio">
    <div class="form-item form-type-radio form-item-submitted-radio">
      <input type="radio" class="form-radio" value="1" name="submitted[radio]" id="edit-submitted-radio-1">
      <label for="edit-submitted-radio-1" class="option">Option 1 </label>
    </div>
    <div class="form-item form-type-radio form-item-submitted-radio">
      <input type="radio" class="form-radio" value="2" name="submitted[radio]" id="edit-submitted-radio-2">
      <label for="edit-submitted-radio-2" class="option">Option 2 </label>
    </div>
    <div class="form-item form-type-radio form-item-submitted-radio">
      <input type="radio" class="form-radio" value="3" name="submitted[radio]" id="edit-submitted-radio-3">
      <label for="edit-submitted-radio-3" class="option">Option 3 </label>
    </div>
  </div>
</div>
