# Ignore configuration files that may contain sensitive information.
build/phing/build.properties
local\.*

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private

# Ignore contrib modules. These should be created during build process.
docroot/sites/*/*/contrib
docroot/sites/*/libraries
docroot/profiles/contrib

# Ignore drupal core dirs
/docroot/includes
/docroot/misc
/docroot/modules
/docroot/profiles/minimal
/docroot/profiles/standard
/docroot/profiles/testing
/docroot/scripts
/docroot/themes
# Ignore drupal core files
docroot/**/*.txt
!docroot/robots.txt
/docroot/.gitignore
/docroot/authorize.php
/docroot/cron.php
/docroot/index.php
/docroot/install.php
/docroot/update.php
/docroot/web.config
/docroot/xmlrpc.php
/docroot/.htaccess

# Ignore some settings files
/simplesamlphp

# Ignore build artifacts
/deploy
bin/*
tmp
install/bin
reports

# Drush FirePHP files
docroot/FirePHPCore

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpathk

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# PHPStorm
.idea/

#XHProf
xhprof_*

#Composer vendor
/vendor/
/vendor/.git

#Sass
.sass-cache
*.css.map

#Netbeans IDE
nbproject
nbproject/*

#node_module
node_modules
readme/architecture/node_modules/
readme/architecture/_book/
npm-debug.log

#solr
solr/*

#Editor utility files
.editorconfig
