sudo: false
language: php
env:
- TASK="./task.sh validate:all"
# Use "build_db_from_initialize" until we can speed up the staging DB import, which
# causes Travis to stall out.
- TASK="./task.sh -Dbehat.run-server=true -Dproject.build_db_from=initialize build:local tests:all"
- TASK="./hub-task.sh -Dbehat.run-server=true build:test:hub"
branches:
  only:
  - develop
  - master
  - settings
php:
- 5.6
addons:
  apt:
    packages:
    - libssl1.0.0
  ssh_known_hosts:
  - svn-14671.prod.hosting.acquia.com
  - staging-15139.prod.hosting.acquia.com
  - staging-15142.prod.hosting.acquia.com
  - staging-19375.prod.hosting.acquia.com
  - 54.205.51.146
  - 54.80.38.136
cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"
  - "$HOME/.nvm"
  - vendor
  - node_modules
  - docroot/sites/all/themes/custom/boston/node_modules
  - docroot/sites/all/themes/custom/boston_hub/node_modules
  - docroot/sites/all/themes/custom/boston_public/node_modules
notifications:
  slack:
    secure: b2UX5FnE2/C5MDNK47EP0GZIRmfwX+18HES0Q/uSwt6t7+ogKCtIjWCp1sIPd7jqRak0VmLoM0OHy6MBjz6x+1MQMNUqPEiO1f2APgBJ48c6rzeWQKTVfrKsUvPYIA+gxQ7jq7Gn0zPYQ5/+KXkxac+NrVoH85sI0xIL2BhFgQu1W4OlLLFKT11U7zJtCi3bcYhF7/eyCcrs3+IBGGp9sldjWvaVLDqUnFjz3c5AXwxlbJ6UTq7GIdIEe5Xw/UOJS9weedhoYH2XSNzFpmqqkAGcvkFpgCeYxf12iiqkmoAq5A0CxWVXqA3vG+imabuQonpbQsGdvtFP71EV9o9DxwATwxaGhBpX+Sw4zN7v25IC6n7rcvcK2F9dtY0CAb8BpWbEbWMDXXmVvFEVAvgARQ/b+L7YOJbNbbJwJQqZkllJp0lAFluyMDwpP2Ncr177S5hR/4Z6rlj1aLK1nhbmi/tK/kSNe+bcashm7/S2KG076hN0b5TB87hsbkvHsnVJDMKXSHwKrrdJiXDAkwZbl2sBp/bbfMTXyEqrINUG4WA70WXP3lR/QJy2pldVEYIU5rRwSzZ0BJ9raF7iiXFgTn3+Yhl0U/UgcDCEKoRvutM/suCy1mQBYP+Gv1uyFNFco37doQbPeyAXNb1vjfJQtyzy8I31gIN/sK590YxLBCA=
before_install:
- echo "-----------------"
- echo $encrypted_6b6c62353547_iv
- echo "-----------------"
- openssl aes-256-cbc -K $encrypted_78f8f4cdd95d_key -iv $encrypted_78f8f4cdd95d_iv -in scripts/deploy/acquia_deploy.enc -out scripts/deploy/acquia_deploy -d
- eval "$(ssh-agent -s)"
- chmod 600 scripts/deploy/acquia_deploy
- ssh-add scripts/deploy/acquia_deploy
- nvm install 5.6.0
- nvm use 5.6.0
- composer selfupdate
- phpenv config-rm xdebug.ini
- echo 'variables_order = "EGPCS"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- git config --global user.name "Travis-CI"
- git config --global user.email "noreply@travis-ci.org"
- mysql -e 'CREATE DATABASE drupal;'
- mysql -e 'CREATE DATABASE hub;'
install:
- composer install --prefer-source
- export PATH=$PATH:$TRAVIS_BUILD_DIR/bin
before_script:
- rm -f ~/.drush/cache/download/*---updates.drupal.org-release-history-*
- scripts/make/apply-settings.sh
script:
- "$TASK"
after_success:
- scripts/make/apply-crispus.sh
- scripts/deploy/travis-deploy.sh develop develop-build
- scripts/deploy/travis-deploy.sh master master-build
