// Main Navigation
//
// Global side drawer navigation for the site.
//
// Markup: main-nav.hbs
//
// Style guide: components.navigation.main-nav
// Offsets the height of the header with extra space
.page {
  padding-top: 6.6em;
}

#page {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
}

#page,
#page > .header,
#page .topic-nav.sticky {
  transition: left 0.2s;
}

.hb__trigger:checked ~ #page,
.hb__trigger:checked ~ #page .header,
.hb__trigger:checked ~ #page .topic-nav.sticky {
  left: 256px;

  @include respond-to(s) {
    left: 300px;
  }
}

.hb__trigger:checked ~ .main-navigation {
  opacity: 100;
  transition: opacity 0s;
}

.main-navigation {
  // Hide the block titles put into the main-navigation area of the page.tpl.php.
  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %visually-hidden;
  }

  // Styling for side-drawer menu overlay
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: color('main-nav-bg');
  width: 256px;
  height: 100%;
  z-index: 0;
  height: 100vh;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 2s;

  @include respond-to(s) {
    width: 300px;
  }

  li {
    list-style-type: none;
    border-top: 3px solid color(main-nav-bg);

    &:last-child {
      border-bottom: 3px solid color(main-nav-bg);
    }
  }

  a {
    display: block;
    background-color: color(main-nav-li-bg);
    color: color('link-main-nav');
    font-family: $montserrat;
    font-weight: 700;
    text-transform: uppercase;
    @include type-layout(xs, 32px);
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    height: 69px;
    line-height: 69px;

    @include respond-to(s) {
      padding: 0 25px;
    }

    &:hover {
      background-color: color(main-nav-li-bg-hover);
    }
    &.active,
    &.active-trail {
      background-color: color(main-nav-li-bg-active);
    }

    &.three-one-one {
      background-color: color(three-one-one);
      &:hover {
          background-color: color(three-one-one-bg-hover);
      }
    }

  }

  li.expanded a.nolink {
    background-image: url('../img/chevron.svg');
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 16px;
    padding-right: 40px;
  }

  li.menu-item-back {
    background-color: color(main-nav-back-bg);
    height: 43px;
  }

  a.menu-link-back {
    background-image: url('../img/back-button-chevron.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left 15px top 50%;
    background-size: 10px;
    padding: 0 0 0 34px;
    height: 43px;
    line-height: 43px;
    color: color(white);

    &:hover {
      color: white;
    }
  }

  .main-navigation-title {
    @extend h4;
    background: url('../img/b-logo-dark.svg') no-repeat center 1.75em color(main-nav-title-bg);
    background-size: 54px 83px;
    margin: 0;
    padding: 5.25em 0 2.25em;
    text-align: center;
  }

  // Styles for multi-level navigation
  .hide-menu-item {
    visibility: hidden;
    height: 0;
    position: absolute;
    width: 100%;
    border-top-width: 0;

    & > span {
      display: none;
    }
  }

  .show-menu-item, .is-open {
    visibility: visible;
  }

  .menu-top > .menu-item-back {
    display: none;
  }

  // Main menu and secondary menu links and menu block links.
  .links,
  .menu {
    @extend %navbar;
    margin: 0;
    padding-left: 0;
    margin-bottom: 100px;
  }

  // Hide the feedback menu item for XL displays
  .menu-feedback {
    @include respond-to(xl) {
      display : none;
    }
  }

  .secondary-menu-item:not(.three-one-one) {
    @include respond-to(xl) {
      display: none;
    }
  }
}

 .main-navigation.open {
   transform: translateX(0);
 }
