// Main Navigation
//
// Global side drawer navigation for the site.
//
// Markup: main-nav.hbs
//
// Style guide: components.navigation.main-nav
// Offsets the height of the header with extra space
.page {
  padding-top: 6.6em;

  &--wa {
    padding-top: 3.5rem;

    .main {
      margin-top: 2rem;
    }

    .hero-image {
      padding-top: 1rem;
    }

    .hero-image-wrapper:after {
      top: 1rem;
    }
  }

  &--fp {
    .main {
      margin-top: 0;
    }
  }

  &--nm {
    .main {
      margin-top: 0;
    }

    .hro--wh {
      padding-top: 0;
    }
  }
}

#page {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
}

#page,
#page > .header,
#page .topic-nav.sticky {
  transition: left 0.2s;
}

.brg-tr:checked ~ #page,
.brg-tr:checked ~ #page .header,
.brg-tr:checked ~ #page .topic-nav.sticky {
  left: 256px;

  @include respond-to(s) {
    left: 300px;
  }
}
