<div class="main-navigation">
  <div class="container">
    <a href="#skip-link" class="skip-link visually-hidden--focusable" id="main-menu" tabindex="-1">Back to top</a>
    <h4>Guides</h4>
    <div class="region region-navigation">
      <div class="block block-menu-block first last odd" role="navigation" id="block-menu-block-1">
        <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
          <ul class="menu"><li class="menu__item is-leaf is-active first leaf active menu-mlid-247"><a href="/" class="menu__link active">Home</a></li>
            <li class="menu__item is-leaf leaf menu-mlid-381"><a href="/user/login" title="" class="menu__link">Placeholder 1</a></li>
            <li class="menu__item is-leaf last leaf menu-mlid-382"><a href="/user/login" title="" class="menu__link">Placeholder 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
