.paragraphs-item-featured-topics {
  @extend .fullwidth;
  background-color: color(section-bg);
  padding: 0;
  counter-reset: badge;


  article.node {
    background-color: color(related-topic-bg);
  }

  .content {
    @extend .container;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  article.node {
    position: relative;
    cursor: pointer;
    color: color(text-dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  a {
    width: 100%;
    float: left;

    @include respond-to(xl) {
      height: 360px;
      width: 25%;
    }
  }

  a:nth-child(odd) h2 {
    color: color(white);
  }

  a:nth-child(even) h2 {
    color: color(link);
  }

  a:nth-child(2),
  a:nth-child(4) {
    .color-background-layer {
      background-color: color(charles-blue);
      color: color(button-bg-hover);
      @include respond-to(xl) {
        @include trans-property(background-color);
      }
    }
    .badge {
      border-color: color(button-bg-hover);
    }
  }

  a:nth-child(5) {
    h2 {
      color: color(white);

      @include respond-to(xl) {
        color: color(link);
      }
    }

    .color-background-layer {
      background-color: color(link);
    }

    @include respond-to(xl) {
      .color-background-layer {
        color: color(button-bg-hover);
        background-color: color(charles-blue);
      }
      .badge {
        color: color(button-bg-hover);
        border-color: color(button-bg-hover);
      }
    }
  }

  a:nth-child(6) {
    h2 {
      color: color(link);

      @include respond-to(xl) {
        color: color(white);
      }
    }

    .color-background-layer {
      background-color: color(charles-blue);
      color: color(button-bg-hover);
    }

    .badge {
      border-color: color(button-bg-hover);
    }

    @include respond-to(xl) {
      .color-background-layer {
        color: color(charles-blue);
        background-color: color(link);
      }

      .badge {
        border-color: color(charles-blue);
        color: color(charles-blue);
      }
    }
  }

  a:nth-child(7) {
    h2 {
      color: color(white);

      @include respond-to(xl) {
        color: color(link);
      }
    }

    .color-background-layer {
      background-color: color(button-bg-hover);
    }

    @include respond-to(xl) {
      .color-background-layer {
        color: color(button-bg-hover);
        background-color: color(charles-blue);
      }
      .badge {
        color: color(button-bg-hover);
        border-color: color(button-bg-hover);
      }
    }
  }

  a:nth-child(1) {
    .color-background-layer {
      background-color: color(link);
      @include respond-to(xl) {
        @include trans-property(background-color);
      }
    }
  }

  a:nth-child(8) {
    h2 {
      color: color(link);

      @include respond-to(xl) {
        color: color(white);
      }
    }

    .color-background-layer {
      background-color: color(charles-blue);
      color: color(button-bg-hover);
    }

    .badge {
      border-color: color(button-bg-hover);
    }

    @include respond-to(xl) {
      .color-background-layer {
        color: color(charles-blue);
        background-color: color(button-bg-hover);
      }

      .badge {
        border-color: color(charles-blue);
        color: color(charles-blue);
      }
    }
  }

  a:nth-child(3) {
    .color-background-layer {
      background-color: color(button-bg-hover);
      @include respond-to(xl) {
        @include trans-property(background-color);
      }
    }
  }

  .badge {
    width: 55px;
    height: 55px;
    border: 3px solid color(text-dark);
    border-radius: 100%;
    font-family: $montserrat;
    text-align: center;
    z-index: 500;
    @include type-layout(m, 47px);
    @include respond-to(l) {
      @include trans-property(color border-color);
    }

    @include respond-to(m) {
      width: 60px;
      height: 60px;
      @include type-layout(23px, 54px);
    }
  }

  .badge:before {
    counter-increment: badge;
    content: counter(badge);
  }

  .title-block .label {
    text-transform: none;
    z-index: 500;
    position: relative;
    font-family: $lora;
    font-style: italic;
    font-weight: 400;
    @include type-layout(s, 1.3);

    @include respond-to(l) {
      @include type-layout(20px, 1.3);
      @include trans-property(color);
    }
  }

  a article.node:hover * {
    color: color(white);
    border-color: color(white);
  }

  a .color-background-layer {
    @include respond-to(xl) {
      position: absolute;
      left: 0;
      top: 0;
    }
    width: 100%;
    height: 100%;
    padding: 25px;
    padding-left: 29px;

    @include respond-to(m) {
      padding: 72px 50px;
    }

    @include respond-to(xl) {
      padding: 36px;
    }
  }

  a .color-background-layer:hover {
    @include respond-to(xl) {
      background-color: color(image-overlay-50);
      &.transparent {
        background-color: transparent;
      }
    }
  }

  .float-left-xl {
    float: left;
    margin: 0;

    .label {
      line-height: 1;
    }

    h2 {
      margin: 0;
      @include type-layout(25px, 27px);
      @include respond-to(m) {
        @include type-layout(xl);
      }
      @include respond-to(l) {
        @include trans-property(color);
      }
      @include respond-to(xl) {
        @include type-layout(l, 35px);
      }
    }

    @include respond-to(xl) {
      float: none;
      margin: 0;
      margin-bottom: 9px;
      padding: 0;
    }
  }

  .float-left-xl.title-block {
    float: none;
    margin-left: 80px;
    @include respond-to(m) {
      margin-left: 94px;
    }
    @include respond-to(xl) {
      margin-left: 0;
      margin-top: 70px;
    }
  }
}
