<fieldset class="collapsible-fieldset {{modifier_class}}">
  <legend>
    <span class="collapsible-fieldset__legend">
      A collapsible fieldset
      <span class="collapsible-fieldset__summary">A summary of the form state</span>
    </span>
  </legend>
  <div class="collapsible-fieldset__wrapper">
    Place the form elements to hide inside this wrapping div.
  </div>
</fieldset>
