.co {position: relative; z-index: 1000;}
body { margin:0; padding:0; }
#map { position: absolute; top:0; bottom:0; right:0; left:0; }
.leaflet-popup {
	width: 250px;
	height: auto;
}
.leaflet-popup-content .title {
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.leaflet-popup-content .times {
	font-size: 16px;
	font-family: 'Lora', serif;
	font-style: italic;
}
.leaflet-popup-content .content {
	font-size: 14px;
	font-family: 'Lora', serif;
	font-style: italic;
}
.leaflet-popup-content p {
	font-size: 14px;
	font-family: 'Lora', serif;
	margin: 0px;
}
a[href=""] { 
	color: #000000;
	text-decoration: none;
	cursor: default;
}

.queries {
	position: static;
	top: 25px;
	left: 25px;
	background: white;
	z-index: 1000;
	/*border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;*/
}
@media screen and (min-width: 980px) {
	.queries {
		position: absolute;
		padding: .5em;
	}
}
.query {
	padding: .5em;
	box-shadow: none;
}
label {
	font-size: 22px;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: bold;
}
.query select {
	font-family: 'Lora', serif;
	font-size: 18px;
	font-style: italic;
}
/* style leaflet marker clusters */
.marker-cluster-small {
	background-color: rgba(40, 139, 228, 0.6);
}
.marker-cluster-small div {
	background-color: rgba(40, 139, 228, 0.6);
}
.marker-cluster-medium {
	background-color: rgba(40, 139, 228, 0.6);
}
.marker-cluster-medium div {
	background-color: rgba(40, 139, 228, 0.6);
}
.marker-cluster-large {
	background-color: rgba(40, 139, 228, 0.6);
}
.marker-cluster-large div {
	background-color: rgba(40, 139, 228, 0.6);
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: : 12px;
	color: white;
}
