<ul class="side-menu {{modifier_class}}">
  <li class="side-menu__item">
    <a href="/" class="side-menu__link">Home</a>
  </li>
  <li class="side-menu__item is-collapsed">
    <a href="#" class="side-menu__link">Blandit Jugis Sudo</a>
  </li>
  <li class="side-menu__item is-expanded is-active-trail">
    <a href="#" class="side-menu__link is-active-trail">Causa Diam Jumentum Wisi</a>
    <ul class="side-menu">
      <li class="side-menu__item">
        <a href="#" class="side-menu__link">Dolor Huic Oppeto</a>
      </li>
      <li class="side-menu__item is-active-trail is-active">
        <a href="#" class="side-menu__link is-active">Decet</a>
      </li>
      <li class="side-menu__item is-collapsed">
        <a href="#" class="side-menu__link">Aliquip Similis</a>
      </li>
    </ul>
  </li>
  <li class="side-menu__item is-collapsed">
    <a href="#" class="side-menu__link">Abigo Caecus Causa Illum</a>
  </li>
  <li class="side-menu__item is-collapsed">
    <a href="#" class="side-menu__link">Ibidem Sudo</a>
  </li>
</ul>
