#!/bin/sh
#
# Cloud Hook: post-db-copy
#
# The post-db-copy hook is run whenever you use the Workflow page to copy a
# database from one environment to another. See ../README.md for
# details.
#
# Usage: post-db-copy site target-env db-name source-env

site="$1"
target_env="$2"
db_name="$3"
source_env="$4"

echo "$site.$target_env: Received copy of database $db_name from $source_env."


# Scrub the db of any PII if not on prod environemnt
if [ "$target_env" != 'prod' ]; then
    echo "$site.$target_env: Scrubbing database $db_name of Personal Information information..."
    (cat <<EOF
  --
  -- Scrub important information from a Drupal database.
  --

  -- Remove all email addresses.
  UPDATE users SET mail=CONCAT('user', uid, '@example.com'), init=CONCAT('user', uid, '@example.com') WHERE uid != 0;

  TRUNCATE field_data_field_home_address;
  TRUNCATE field_data_field_personal_email;
  TRUNCATE field_data_field_phone_number;
  TRUNCATE field_data_field_mailing_address;
  TRUNCATE field_data_field_emergency_contact_phone;
  TRUNCATE field_data_field_emergency_contact_name;
EOF
) | drush @${site}.${target_env} ah-sql-cli --db=${db_name}
    drush @${site}.${target_env} sql-sanitize --sanitize-password=no
    echo "Database '$db_name' scrub complete..."
fi