.component {
  @extend .fullwidth;
  color: color(text-bg);
  background-color: color(section-bg-dark);
  border-top: 10px solid color(three-one-one);

  &__content {
    @extend .container;
  }

  &__header {
    @extend .container;

    h2 {
      margin-top: 0;
    }

    &--yellow {
      h2 {
        color: color(three-one-one);
      }
    }

    &--no-border {
      border: none;
    }
  }
  &__content {
    &--flex {
      display: flex;
    }
    &--flex-wrap {
      flex-wrap: wrap;
    }
  }
}
.bos311 {
  &__link {
    width: 100%;
    font-family: Montserrat;
    @include type-layout(14px, 1);
    line-height: 1.2;

    border-bottom: 1px dashed color(blue-medium);
    margin-right: 2%;


    a {
      color: white;
      display: block;

      text-transform: uppercase;
      padding: 25px 30px 25px 0;

      background: url('../img/chevron.svg') no-repeat center right transparent;
      background-size: 26px 16px;
    }

    a:hover {
      color: color(three-one-one);
    }

    @include respond-to(m) {
      width: 48%;
    }
    @include respond-to(xl) {
      width: 31.33%;
    }
  }
}
