// Footer
//
// Classes for global footer.
//
// Markup: footer.hbs
//
// Style guide: components.footer

.footer,
%footer {
  @extend %clearfix;

  background: url('../img/b-logo-light.svg') no-repeat 1.75em center color(footer-bg);
  padding: 1.75em 0 1.75em 6em;
  color: color(text-bg);

  @include respond-to(m) {
    padding-left: 5em;
  }

  // Resets margin and width on.container class within the footer.
  .container {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;

    @include respond-to(xxl) {
      padding-right: 3%;
    }
  }

  // Wrapping link for logo.
  &__logo {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  .block {
    display: block;

    @include respond-to(xl) {
      display: inline-block;
    }
  }

  a {
    color: color(text-bg);
    font-family: $montserrat;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    @include type-layout(xs, 18px);
  }

  a {
    color: color(link-light);

    &:hover {
      color: color(link-secondary);
    }

    @include respond-to(xxl) {
      line-height: 3.25rem;
    }
  }

  .menu {
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1em;

    @include respond-to(xxl) {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    @include respond-to(xxl) {
      padding-left: 40px;
    }
  }

  .menu li {
    display: block;
    margin-right: 1.25em;

    &:last-child {
      margin-right: 0;
    }

    @include respond-to(xxl) {
      display: inline-block;
    }
    a {
        @include respond-to(xxl) {
        font-size: 18px;
      }
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }

  // Footer icons
  .icon-311-link {
    display: block;

    &:hover {
      .icon-311-report,
      .icon-311-reportbos {
        color: color(white);
      }

      .icon-311 {
        background-color: color(three-one-one);
        color: color(white);
      }
    }

    @include respond-to(l) {
      float: right;
    }
  }

  .icon-311-reportbos {
    color: color(three-one-one);
    display: inline;

    @include respond-to(l) {
      display: none;
    }
  }

  .icon-311-report {
    color: color(three-one-one);

    @include respond-to(l) {
      display: inline-block;
      margin: 1rem 0;
      @include type-layout(m, 1);
    }
  }

  .icon-311 {
    display: none;

    @include respond-to(l) {
      background: color(white);
      border-radius: 25px;
      color: color(three-one-one);
      display: inline-block;
      font-weight: bold;
      height: 50px;
      letter-spacing: -1px;
      line-height: 15px;
      margin-left: 1em;
      padding: 6px 0 0 9px;
      text-align: left;
      vertical-align: middle;
      width: 50px;
    }
  }

  .icon-311-bos {
    font-size: 10px;
  }

  .icon-311-number {
    font-size: 25px;
  }
}
