<footer class="footer region region-footer">
  <div class="container">
    <div id="block-menu-block-2" role="navigation" class="block block-menu-block contextual-links-region first last odd">
      <div class="menu-block-wrapper menu-block-2 menu-name-menu-footer-menu parent-mlid-0 menu-level-1">
        <ul class="menu">
          <li class="menu__item is-leaf is-active first leaf active menu-mlid-379">
            <a class="menu__link active" title="" href="/">Privacy Policy</a>
          </li>
          <li class="menu__item is-leaf is-active last leaf active menu-mlid-380">
            <a class="menu__link active" title="" href="/">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>