.detail-item {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.detail-item__left,
.detail-item__content {
  display: table-cell;
  vertical-align: top;

  .detail-item--middle & {
    vertical-align: middle;
  }
}

.detail-item__content {
  width: 100%;
}

.detail-item__left {
  width: 70px;
  line-height: 0;
  > div {
    max-width: none;
    display: block;
  }
}

.detail-item--secondary {
  .detail-item__left {
    width: 135px;
    > div {
      display: inline;
    }
  }
}

.detail-item__body--secondary {
  .detail-item__left {
    padding-right: 15px;
  }
}
