.squiggle-border-bottom {
  background: url('../img/squiggly-line.svg') repeat-x center bottom transparent;
  background-size: 383px 9px;
  margin-bottom: 25px;
}

.squiggle-border-top {
  background: url('../img/squiggly-line.svg') repeat-x center top transparent;
  background-size: 383px 9px;
}
