// OVERRIDES MIXINS IN BASE THEME

@mixin border-sm ($top: 0, $right: 0, $bottom: 1px, $left: 0, $style: solid, $color: color(border)) {
  border-top: $top;
  border-right: $right;
  border-bottom: $bottom;
  border-left: $left;
  border-style: $style;
  border-color: $color;
}
