//
// Font faces, stacks and sizes.
//

// The font size set on the root html element.
$base-font-size:    18px;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height:  39px;

$font-size: (
  xxl:              75px,
  xl:               45px,
  l:                30px,
  m:                $base-font-size,
  s:                16px,
  xs:               14px,
  xxs:              12px,

  hub-xxl:          58px, // Added for use on Hub H1
  hub-l:            28px, // Added for use on Hub H3
  hub-m:            22px, // Added for use on hub user profile

);

// The length unit in which to output font size and margin values.
// Supported values: px, em, rem.
$base-unit:         'rem';
$rem-fallback:      true;

// fonts
$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;
$menlo: Menlo, 'DejaVu Sans Mono', 'Ubuntu Mono', Courier, 'Courier New', monospace, sans-serif;

// Now create some variables using the font stacks we want on this site.
$font-body:       $montserrat;
$font-monospace:  $menlo;
$font-watermark:  $lora;

// Breakpoints

$breakpoints: (
  xs:   (374px, 'no-query' true),
  s:    (480px, 'no-query' true),
  m:    (768px, 'no-query' true),
  l:    (840px, 'no-query' true),
  xl:	  (980px, 'no-query' true),
  xxl:  (1300px, 'no-query' true),
  xxxl: (2000px, 'no-query' true),
);

// The amount lists, blockquotes and comments are indented.
$indent-amount: 2 * $base-font-size;

// The height of the navigation container.
$nav-height: 2 * $base-line-height;
