.paragraphs-item-fyi {
  @include full-width(color(charles-blue));

  img,
  svg {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 45px;

    @include respond-to(xl) {
      margin-bottom: 0;
      max-height: 45px;
    }
  }
}

.fyi-container {
  display: flex;
  flex-direction: column;
  color: color(white);
  padding: 25px;
  align-items: center;
  justify-content: center;

  @include respond-to(xl) {
    flex-direction: row;
  }
}
.fyi-icon{
  max-height: 45px;
  .svg-fill-hover{
    fill: color(freedom-trail-red);
  }
  .svg-stroke-hover {
    stroke: color(freedom-trail-red);
  }
  @include respond-to(s) {
    margin-bottom: 5px;
  }
  @include respond-to(l) {
    margin-bottom: 0;
  }
}

.fyi-title {
  color: color(freedom-trail-red);
  font-family: $montserrat;
  @include type-layout(xs, 18px);
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-bottom: 5px;

  @include respond-to(xl) {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.fyi-slash {
  display: none;

  @include respond-to(xl) {
    display: inline-block;
    margin: 0 14px;
    font-size: 30px;
    position: relative;
    top: -3px;
    color: color(freedom-trail-red);
  }
}

.fyi-content {
  font-style: italic;
  @include type-layout(s, 18px);
  margin-right: 14px;
  margin-bottom: 5px;

  @include respond-to(xl) {
    margin-bottom: 0;
  }
}

.fyi-link {
  @include type-layout(xs, 16px);
  text-transform: uppercase;
  margin-right: 14px;
  letter-spacing: 1px;
  font-family: $montserrat;

  div {
    display: inline;
  }

  a {
    background: none;
    padding: 0;
  }
}
