.cs {
  &--block {
    min-width: 250px;
    font-family: 'Fenway', arial, sans-serif;
    background-color: #46695D;
    color: rgb(255,255,255);
    margin-bottom: 50px;
    padding: 20px;
  }
}

.cs__low {
  color: #FEF163;
}

@include respond-to(s) {
  .cs {
    &--block {
      padding: 35px;
    }
  }
}

@include respond-to(m) {
  .cs {
    &--block {
      padding: 50px;
    }
  }
}
