.cs {
  &__table {
    margin: 0;
    @include type-layout(18px, 18px);

    &-header th {
      font-size: 100%;
      text-align: left;
      border-bottom: 3px solid #fff;
      display: none;
    }

    &-row {
      display: block;
      margin-bottom: 1em;
    }

    &-row td {
      display: block;

      &:nth-of-type(1) {
        margin-bottom: 5px;
      }

      &.cs__table--centered {
        font-size: 77.778%;
        text-align: right;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px dotted rgba(255,255,255,0.5);

        &:last-child {
          border-bottom: none;
        }

        &:before {
          color: #fff;
          float: left;
          text-align: left;
        }

        &:nth-of-type(2):before {
          content: 'Day ';
        }

        &:nth-of-type(3):before {
          content: 'Week ';
        }

        &:nth-of-type(4):before {
          content: 'Month ';
        }

        &:nth-of-type(5):before {
          content: 'Quarter ';
        }
      }
    }
  }
}

@include respond-to(l) {
  .cs {
    &__table {
      display: table;

      &-header th {
        padding-bottom: 0.25em;
        font-size: 120%;
      }

      &-row {
        display: table-row;

        &:first-child {
          td {
            padding-top: 1em;
          }
        }

        td {
          padding: 0.5em 0;
        }
      }

      &-header th, &-row td {
        display: table-cell;
      }

      &-row td {
        &.cs__table--centered {
          font-size: 100%;
          border-bottom: none;
          text-align: left;

          &:before {
            content: '';
            display: none;
          }
        }
      }
    }
  }
}
