.section-nav-button-container {
  width: 100%;
  text-align: center;
  padding: 0 0 21px;

  @include respond-to(xl) {
    display: none;
    position: relative;
    top: 0;
  }
}

.sub-nav-button {
  background: none;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  width: 26px;
  height: 25px;
  transition: all 150ms ease-in-out;
  outline: none;

  &:hover,
  &:focus {
    background: none;
  }

  &.open {
    transform: rotate(-180deg);

    .st0 {
      fill:#F05046;
    }
  }
}

.topic-nav {
  width: 100%;
  left: 0;
  background-color: color(text-bg);
  transition: background-color 0.25s ease;
  display: none;
  z-index: 10;
  margin-bottom: 42px;

  @include respond-to(xl) {
    display: block;
    position: relative;
    top: 0;
    margin-bottom: 45px;
    margin-top: 20px;
  }
}

.topic-nav.sticky,
.topic-nav.topic-nav__left.sticky {
  @include respond-to(xl) {
    position: fixed;
    top: 65px;
    background-color: color(text-dark);
    z-index: 12;
    padding: 0 0 2px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.sub-nav-trigger {
  @extend .button;
  display: block;

  @include respond-to(xl) {
    display: none;
  }
}

.sub-nav-chevron {
  height: 12px;
  width: 18px;
  float: right;
  transform: rotate(-90deg);
  margin-top: 4px;

  .icon-stroke {
    fill: color('white');
  }
}

.active .sub-nav-chevron {
  transform: rotate(0);
}

.topic-nav ul,
.topic-nav.topic-nav__left.sticky ul {
  width: 100%;
  margin: 0 auto;

  @include respond-to(xl) {
    width: 100%;
    text-align: center;
    max-width: none;
  }
}

.topic-nav.topic-nav__left ul {
  @include respond-to(xl) {
    text-align: left;
  }
}

.topic-nav.topic-nav__left li {
  @include respond-to(xl) {
    margin: 0 2em 0 0;
  }
}

.topic-nav li,
.topic-nav.topic-nav__left.sticky li {
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: color(border);
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-family: $montserrat;
  text-align: center;
  background-image: none;

  @include type-layout(xxs, 46px);

  &:last-child {
    border-bottom: 1px solid color(border);
  }

  &:hover {
    background-color: color(topic-nav-bg-mobile);
    cursor: pointer;
    a, a:link, a:visited, a:hover, a:active {
      color: color(text-bg);
    }
    @include respond-to(xl) {
      a, a:link, a:visited, a:hover, a:active {
        color: color(link-secondary);
      }
    }
  }

  &:before {
    content: none;
  }

  @include respond-to(xl) {
    display: inline-block;
    margin: 0 1em;
    border: none;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: color(text-bg);
    }
  }
}

.topic-nav.topic-nav__left.sticky li {
  @include respond-to(xl) {
    &:hover {
      background-color: transparent;
    }
  }
}

.topic-nav.topic-nav__left.sticky li {
  @include respond-to(xl) {
    &:hover {
      background-color: transparent;
    }
  }
}

.topic-nav.sticky li {
  @include respond-to(xl) {

    &:hover {
      background-color: color(text-dark);
    }
  }
}

.topic-nav a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    color: color(text-bg);
  }

  &:active,
  &:focus {
    color: color(link-secondary);
  }

  @include respond-to(xl) {
    display: inline;

    &:hover,
    &:active,
    &:focus {
      color: color(link-secondary);
    }
  }
}

.topic-nav.sticky a {
  border-bottom: 2px solid transparent;
  font-weight: normal;

  @include respond-to(xl) {
    &.is-active:link,
    &.is-active:visited {
      color: color(freedom-trail-red);
      border-color: color(freedom-trail-red);
    }

    &:link,
    &:visited {
      color: color(text-bg);
    }

    &:hover,
    &:active
    &:focus {
      color: color(link-secondary);
    }
  }
}

.subnav-anchor {
  position: absolute;
  margin-top: -100px;
}
.paragraphs-item-photo .subnav-anchor {
  margin-top: -10px;
}
