<div class="node-type-topic-page">
  <div class="hero-image fullwidth">
    <div class="hero-image-wrapper ">
      <img src="http://placehold.it/2000x460">
    </div>
  </div>

  <header class="topic-header">
    <span property="dc:title" content="Having a Car in the City" class="rdf-meta element-hidden"></span>

    <div class="topic-hero-text-wrapper">
      <div class="intro-container fullwidth">
        <div class="intro-title">
          <div class="intro-title-wrapper">
            <div class="topic-title-prefix"><span></span>guide<span></span></div>
            <h1>Having a Car in the City</h1>
            <div class="topic-subhead">Last updated
              <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2016-01-06T00:00:00-05:00">1/6/16</span>
            </div>
          </div>
        </div><!-- End intro-title -->
        <div class="intro-content">
          <div class="topic-intro-text-container">
            <div class="intro-text-top"></div>
              <div class="topic-intro-text-content">
                <div class="intro-text squiggle-border-bottom supporting-text">
                  <p>There's a lot that goes into having a car in a city. There's traffic, street sweeping schedules, parking, and sometimes, tickets. We've gathered some helpful information to make your experience a little easier.</p>
                  <div style="font-size:12px; color:#666666; font-style:italic; margin-bottom:10px;">(Photo by: Dirk Ahlgrim)
                </div>
              </div>
            </div><!-- End .topic-intro-text-container -->
          </div><!-- End .topic-intro-text-wrapper -->
        </div><!-- End .intro-content -->
      </div><!-- End .intro-container -->
    </div><!-- End .topic-hero-text-wrapper -->
    <div class="section-nav-button-container">
      <button class="sub-nav-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18"><title>Toggle</title><path class="st0" d="M13 17.7L.5 2.7C0 2.1.1 1.2.7.6 1.3.1 2.3.2 2.8.8L13 13 23.2.8c.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1L13 17.7z"></path></svg>
      </button>
    </div>

    <nav class="topic-nav">
      <ul>
        <li><a class="scroll-link-js" href="#">Get It Done</a></li>
        <li><a class="scroll-link-js" href="#">Get Notified</a></li>
        <li><a class="scroll-link-js" href="#">Parking Permit</a></li>
        <li><a class="scroll-link-js" href="#">Tools &amp; Apps</a></li>
        <li><a class="scroll-link-js" href="#">Towed Cars</a></li>
        <li><a class="scroll-link-js" href="#">Pothole Kings</a></li>
        <li><a class="scroll-link-js" href="#">Excise Tax</a></li>
        <li><a class="scroll-link-js" href="#">Departments</a></li>
      </ul>
      <a name="section-nav"></a>
    </nav>
  </header>
</div>
