// Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to
// download a resource.
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
//
// :visited - A link that has already been visited.
// :hover   - A link that is being hovered over.
// :focus   - A link that has been given keyboard focus.
// :active  - A link that is being actively clicked.
// .inverted  - A link that has inverted colors.
// .inverted:visited - A link that has already been visited.
// .inverted:hover   - A link that is being hovered over.
// .inverted:focus   - A link that has been given keyboard focus.
// .inverted:active  - A link that is being actively clicked.
//
// Markup: links-a.hbs
//
// Style guide: base.link

:link,
%link {
  color: color(link);
  text-decoration: none;
}
.inverted,
.inverted:link {
  color: color(link-secondary);
}

:visited {
  color: color(link);
}

.inverted:visited {
  color: color(link-secondary);
}

a:hover,
a:focus {
  color: color(link-secondary);
}

a.inverted:hover,
a.inverted:focus {
  color: color(link);
}

a:active {
  color: color(link-secondary);

  @if support-legacy-browser(ie, '10') {
    // Remove the gray background color from active links in IE 10.
    background-color: transparent;
  }
}

a.inverted:active {
  color: color(link);
}


// Improve readability by removing focus styles when also mouse hovered in all browsers.
a:active,
a:hover {
  outline: 0;
}

@media print {
  // Underline all links.
  :link,
  :visited {
    text-decoration: underline;
  }

  // Add visible URL after links.
  a[href]:after {
    content: ' (' attr(href) ')';
    font-weight: normal;
    font-size: $base-font-size;
    text-decoration: none;
  }

  // Only display useful links.
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}

// Specific link styles

// Styles all Document links
.download-link {
  a {
    background-image: url('../img/icon-document.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 16px;
    padding-right: 40px;
    display: inline-block;
  }
  & .ribbon a {
    background-image: url('../img/icon-document-white.svg');
  }
  &.button {
    background-color: color(button-bg);
    background-position: right 4px top 4px;
  }
}

// Styles all external links
.external-link {
  a {
    background-image: url('../img/external-link.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 20px;
    padding-right: 40px;
    display: block;
  }
  &.button {
    background-color: color(button-bg);
    background-position: right 4px top 4px;
  }
  &--inline {
    a {
      display: inline-block;
    }
  }
}

.ribbon .external-link a {
  background-image: url('../img/external-link-white.svg');
}

.download-list .external-link a {
  background-image: none;
  padding-right: 0;
}

.node-public-notice .external-link a {
  display: inline-block;
}

// Except for external links in the transaction grid
.paragraphs-item-transaction-grid .external-link a {
  background-image: none;
  padding-right: 0;
}

// Uses text-replacement method to visually hide text in separated titles links
.separated-link a {
    text-indent: -999px;
    overflow: hidden;
}
