// Supporting Text
//
// Classes for supporting content to be used with paragraph elements.
//
// Markup: supporting-text.hbs
//
// Style guide: components.supporting-text

// This is the current "supporting" style
.supporting-text {
  font-weight: 400;
  font-style: italic;
  line-height: inherit;
  color: color(text-dark);
  @include type-layout(m, 30px);
  @include respond-to(xl) {
    @include type-layout(l, 52px);
  }
}

// IMPORTANT!!
// -----------
// All styles from here down are legacy and should not be used.
// Currently in the process of replacing in code and regression testing.
// Some styles are in WYSIWYG content and may need to be updated there before these can be deleted.


//DO NOT USE
.supporting-lg,
.supporting-sm {
  font-weight: 400;
  font-style: italic;
  line-height: inherit;
}

//DO NOT USE
.supporting-lg {
  @include type-layout(l, 52px);
  color: color(text-dark);
}

//DO NOT USE
.supporting-sm {
  @include type-layout(m);
}

//DO NOT USE
.intro-text.supporting-sm {
  @include type-layout(m, 39px);
  color: color(text-dark);
  padding: 0 0 0.25em;
  margin-bottom: 1.25em;

  @include respond-to(xl) {
    @include type-layout(l, 52px);
  }
}
