.bos-search-form {

  padding: 50px 0 0;

  input[type="text"] {
    @include type-layout(l, 40px);
    border: none;
    outline: none;
    border-bottom: 8px solid;
    padding: 0 60px 0 0;
    height: 1.6em;
    background-color: transparent;
    width: 100%;
    font-style: italic;
    @include respond-to(m) {
      @include type-layout(xl);
    }
  }

  input[type="submit"] {
    background: url('../img/magnifying-glass-icon.svg') no-repeat;
    cursor:pointer;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    position: relative;
    right: 0;
    top: -25px;
    text-indent: -9999px;
    overflow: hidden;

    @include respond-to(m) {
      width: 40px;
      height: 40px;
      top: -10px;
    }

    &:hover {
      background-color: transparent;
    }
  }

  .form-item-search-block-form {
    width : 100%;
  }
  .container-inline {
    position: relative;
    margin: 0 10%;
  }
  .form-actions {
    display : inline-block;
    position: absolute;
    top: 25px;
    right: 0;
  }
}
.block-hub-blocks {
  position: inherit;
}

.header-right {
  #block-hub-blocks-search {
    margin-left: 1em;
  }
}

// Overrides for form on search results page
.page-search .main-content #block-hub-blocks-search {
  padding-top: 0;

  .container-inline {
    margin-right: 0;
    margin-left: 0;
  }
}
