.form--inline {
  display: flex;
  width: 100%;
}

.form__fieldset {
  border: none;

  &--inline {
    padding: 0;

    .fieldset-wrapper {
      display: flex;
    }
  }

  .fieldset-legend {
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: 400;
    // line-height: 1;
    @include type-layout(13.5px, .1);
    @include margin(.75 0 .25 0);
    letter-spacing: 1px;
    color: color(black);
  }
}

.form__input {
  &--inline {
    width: 80%;
    border-right: none;
  }
}

.form__button {
  &--chevron {
    border: 3px solid black;
    background-color: color(link);
    background-image: url("../img/chevron.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% 40%;
    height: 65px;
    width: 65px;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
  }
}
