.place-did-you-know {
  border: solid black;
  padding: 0 1em;
  margin-top: 2em;
  
  h5 {
    color: red;
  }

  p {
    font-style: italic;
    color: black;
    font-size: 1.4em;
  }

  .bubble-tail {
    background-image: url(../img/bubble-tail.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-left: 60%;
    width: 56px;
    height: 41px;
  }
}
