.tr {
  float: right;
  padding-top: 4px;
  padding-left: 4px;
  position: relative;
  display: none;

  @media (min-width: 375px) {
    &--visible {
      display: block;
    }
  }

  &-link, &-dd-link {
    font-family: $montserrat;
    text-transform: uppercase;
    color: color(link-header);
    @include type-layout(xs);
    letter-spacing: 1.5px;
    display: block;
    min-width: 45px;
    text-align: center;
    margin-left: 1.4em;

    &:hover,
    &.active {
      color: color(link-secondary);
    }
  }

  &-dd {
    display: none;
    position: absolute;
    margin: 3px 0 0;
    list-style: none;
    padding: 0;
    background-color: color(optimistic-blue);
    right: 0;
    width: 250px;
    z-index: 0;

    li {
      padding: 0;
      margin: 0;
    }

    &--loaded {
      .tr-dd-link {
        display: block;
      }
    }

    &-link {
      text-align: left;
      margin-left: 0;
      line-height: 1;
      padding: 1em 1.4em;
      color: #ffffff;
      display: none;

      &:hover {
        color: color(link-header);
      }

      &--hidden {
        display: none;
      }

      &--message {
        display: block;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

#WidgetFloaterPanels {
  display: none !important;
}
