.page-user {

  .page-title {
    @extend %visually-hidden;
  }

  .breadcrumb-outter {
    z-index: 2;
    position: relative;
  }

}

.profile2-main {

  h2 {
    @include type-layout(24px, 30px)
    margin-top: 50px;
    margin-bottom: 12px;
    letter-spacing: 1px;

    @include respond-to(xl) {
      @include type-layout(l, 35px)
      letter-spacing: 0;
    }

  }

  .user-profile-header-info {

    @include respond-to(xl) {
      margin: 25px 0;
    }

  }

  .user-profile-info {

    @include respond-to(xl) {
      margin-left: 125px;
    }

  }

  .user-profile-header-display-name h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  label {
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 1.25rem;
    font-weight: 700;
    color: color(text);

    @include respond-to(m) {
      line-height: .9rem;
    }

  }

  .field-label {
    @extend %visually-hidden;
    white-space: nowrap;
  }

  .user-profile-section {

    .mobile-1-col {
      margin-bottom: .25rem;
    }

  }

  .field-output {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-style: italic;
    color: color(text-dark);
    margin-top: 5px;
    @include type-layout(18px, 24px);

    @include respond-to(m) {
      @include type-layout(24px, 36px);
    }

    @include respond-to(xl) {
      @include type-layout(30px, 42px);
    }

  }

  .field-output.address-line2 {
    margin-top: -20px;
  }

  .user-profile-picture-top {
    display: none;

    @include respond-to(xl) {
      display: block;
      float: left;
    }

  }

  .user-picture-image {
    height: 96px;
    width: 96px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  .user-profile-picture-bottom {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;

    @include respond-to(xl) {
      display: none;
    }

  }

  .user-profile-header-position-title {
    color: color(text);
    margin: .25rem 0;
    font-size: 22px;

    @include respond-to(m) {
      font-size: 26px;
    }

  }

  .user-profile-social {
    @include sans-upper-dark;

    .user-profile-twitter, .user-profile-linked-in {
      padding: 12px 0 12px 50px;
      line-height: 1.25em;
      word-wrap: break-word;
      margin-top: 8px;
      font-size: 14px;
      background-size: 35px;

      @include respond-to(m) {
        margin-top: 15px;
        padding: 12px 0 12px 60px;
        font-size: 18px;
        background-size: 46px;
      }

      @include respond-to(xl) {
        margin-top: 0;
      }

    }

  }

  @mixin profile-flex-settings($size) {
    @include respond-to($size) {
      display: flex;
      justify-content: flex-start;

      & > div {
        margin-right: $default-gutter;

        @include respond-to(m) {
          margin-right: calc(#{$default-gutter} * 2);
        }

        @include respond-to(xl) {
          margin-right: calc(#{$default-gutter} * 2.5);
        }

        &:last-of-type {
          margin-right: 0;
        }

      }

    }

  }

  // Flex at all sizes
  .flex-at-sm {
    @include profile-flex-settings(xs);
  }

  // Flex kicks in at medium screens.
  .flex-at-md {
    @include profile-flex-settings(m);
  }

  // Flex kicks in at large screens.
  .flex-at-lg {
    @include profile-flex-settings(xl);
  }

  // Forces flex child to min width.
  .flex-width-md {

    @include respond-to(xl) {
      min-width: 44%;
    }

    @include respond-to(xxl) {
      min-width: 30%;
    }

  }

  // For Logged in Users

  .user-profile-header-block,
  .user-profile-personal-info {
    @include full-width;
    background-color: color(white);
    padding: 50px 0;
  }

  .user-profile-personal-info {
    margin: 0 0 -28px 0;

    @include respond-to(xl) {
      margin-bottom: -56px;
    }

    .container:first-of-type > h2 {
      margin-top: 30px;
    }

  }

  .user-profile-header-block{
    text-align: center;
    padding-top: 0;

    h1 {
      margin-top: 0;
      margin-bottom: 0;

      @include respond-to(m) {
        margin-top: 10px;
        margin-bottom: 40px;
      }

      @include respond-to(xl) {
        margin-top: 54px;
      }

    }

  }

  .user-profile-header-text.supporting-text {
    width: 66%;
    margin: 0 auto;
    display: none;

    @include respond-to(m) {
      display: block;
    }

  }

  .profile-header-links {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 40px 0 2px;

    @include respond-to(m) {
      padding: 35px 0 0;
    }

    @include respond-to(xl) {
      padding: 50px 0 20px;
      width: 85%;
    }

    @include respond-to(xxl) {
      width: 75%;
    }

  }

  .profile-header-links div {
    width: 93px;
    height: 93px;
    background-color: color(white);
    position: relative;
    border: 1px solid color(charles-blue);

    @include respond-to(s) {
      width: 123px;
      height: 123px;
    }

    @include respond-to(m) {
      width: 175px;
      height: 175px;
    }

    @include respond-to(xl) {
      width: 200px;
      height: 200px;
    }

    &:nth-of-type(2n) {
      margin-left: 15px;
      margin-right: 15px;

      @include respond-to(s) {
        margin-left: 20px;
        margin-right: 20px;
      }

    }

    &:hover {
      background-color: color(link);
    }

    a, a:link, a:visited {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 56px;
      background-repeat: no-repeat;
      background-position: center 5px;
      padding-top: 56px;

      @include respond-to(s) {
        background-size: 80px;
        padding-top: 83px;
        background-position: center 10px;
      }

      @include respond-to(m) {
        background-size: 115px;
        padding-top: 125px;
        background-position: center 15px;
      }

      @include respond-to(xl) {
        background-size: 125px;
        padding-top: 130px;
      }

      &:hover {
        color: color(text-bg);
      }

    }

    a.payroll {
      background-image: url('../img/icon-paycheck.svg');
    }

    a.leave {
      background-image: url('../img/icon-leave.svg');
    }

    a.benefits {
      background-image: url('../img/icon-benefits.svg');
    }

  }

  .user-help-wrapper {
    margin-top: 40px;

    .user-links {
      font-weight: 700;
      @include type-layout(14px, 40px);

      @include respond-to(m) {
        @include type-layout(18px, 50px);
      }

    }

    h2.questions {
      margin-top: 25px;
      margin-bottom: 6px;
    }

    .question-help {
      @include type-layout(14px, 28px);

      @include respond-to(m) {
        @include type-layout(18px, 35px);
      }
    }

    .title-text{
      padding-top: 12px;
      font-weight: 700;
    }

  }

}

.user-profile-info-block{
  @include full-width;
  background-color: #f1f1f1;
  padding: 50px 0 50px 0%;

}
.user-profile-header-edit-name{
  display: inline;
  padding-left: 10px;
}
