// Specialized styles for use in content

.red {
  color: color(text-red);
}

.supporting-lg.red,
.no-margin-bottom.red {
	@extend .red;
	line-height: 1rem;
}

.no-margin-top {
	margin-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.wysiwyg-photo-wrapper {
	border: 3px solid color(text-dark);
	display: table;
	margin: 2.16667rem auto;

	img {
		border-bottom: 3px solid color(text-dark);
		width: 100%;
		height: auto;
	}

	.inner-photo-wrapper {
		display: table;
	}

	.caption {
		display: table-caption;
		caption-side: bottom;
		padding: 15px 30px 30px;
		color: color(text-dark);
		font-style: italic;
		line-height: 1.75rem;
	}
}
