.paragraphs-item-daily-hours {

  .sidebar-title {
    font-style: normal;
    text-transform: uppercase;
    color: color(text-dark);
    font-family: $montserrat;
    @include respond-to(xl) {
      @include type-layout(s);
      line-height: 1.75rem;
    }
  }

  .sidebar-icon {
    height: 50px;
    float: left;
    width: 50px;
  }

  .sidebar-body {
    float: left;
    @include respond-to(xl) {
      max-width: 75%;
    }
  }
}
