.dd {
  &__trigger {
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  &__trigger__button {
    display: block;
    background: none;
    padding: 0;
    color: color('optimistic-blue');
    padding: 10px;
    border: 2px solid color('white');
    font-family: $montserrat;
    @include type-layout(xs, 22px);
    font-weight: bold;
    text-transform: uppercase;
    width: 175px;
    text-align: left;

    &:hover {
      background: none;
    }
  }

  &__trigger__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid color('white');
    border-left: none;
    padding: 0 10px;
    position: relative;
    cursor: pointer;

    svg {
      width: 18px;
      height: 12px;
      transition: transform 0.3s;
    }

    .icon-stroke {
      fill: color('white');
    }
  }

  &__menu {
    z-index: 6;
    display: none;
    position: absolute;
    margin-top: -2px;
    background-color: color('charles-blue');
    border: 2px solid color('white');
    border-top: none;
    width: 175px;

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1;
    }

    a {
      display: block;
      color: color('optimistic-blue');
      padding: 10px;
      border-right: none;
      font-family: $montserrat;
      @include type-layout(xs, 22px);
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: color('freedom-trail-red');
      }
    }
  }

  &__input:checked ~ .dd {
    .dd {
      &__trigger__button {
        border-bottom-color: color('charles-blue');
        color: color('white');
      }

      &__menu {
        display: block;
      }

      &__trigger__icon {
        background-color: color('freedom-trail-red');

        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
