// Feedback Poll
//
// Styles for Feedback polls.
//
// Markup: feedback-poll.hbs
//
// Style guide: components.feedback-poll

.circles_container {
  text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: 30px 15px;

  @include respond-to(xl) {
    width: 180px;
    margin-left: 1%;
    margin-right: 1%;
  }

  .circles-text {
      @include type-layout(25px, 132px);
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      color: color('text-dark');
  }

  .choice_text {
    color: color('text-dark');
    text-transform: uppercase;
    font-family: $montserrat;
      @include type-layout(xs, 18px);
      margin: .5em 0 1em;
  }

}

.paragraphs-item-feedback.component-section,
.node-advpoll {

  text-align: center;

  h2.component-title {
    max-width: 100%;
  }

  .poll-question {
    @extend .supporting-sm;
    color: color(text-dark);
  }

  .form-type-radios,
  .form-submit {
    @extend %visually-hidden;
  }

  .vote-button {
    text-transform: uppercase;
  }

}
