.paragraphs-item-grid-of-people {
  @extend .fullwidth;
  
  .content {
    @extend .container;
  }
}

.person-profile-photo-list {
  padding: 30px 0 5px 0;
  img {
    max-height: 165px;
    border-radius: 100%;
  }
}

.person-text-data {
  height: 90px;
}
.person-name-and-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.person-highlight-area {
  @include sans-upper-dark(color(link));
  text-align: center;
  background-color: color(section-bg);
  height: 300px;

  .person-profile-display-name {
    line-height : 20px;
  }
  .person-profile-position-title-list {
    line-height : 20px;
    margin-top : 5px;
  }
  &:hover {
    background-color: color(link);
    cursor: pointer;
    .person-profile-display-name {
      color: color(blue-extra-dark);
      line-height : 20px;
    }
    .person-profile-position-title-list {
      color: color(white);
      line-height : 20px;
    }
  }
}

.person-profile-listing-info-wrapper {

  float: left;
  background-color: color(section-bg);
  width: 100%;
  margin-top: 1em;

  .person-profile-display-name {
    text-transform: uppercase;
  }
  .person-profile-position-title-list {
    @include type-layout(xs, 20px);
    font-style: italic;
    color : color(grey-dark);
    text-transform: none;
  }

  .person-long-string {

  }
}

.person-preferred-contact {
  text-align: center;
  background-color: color(blue-extra-dark);
  padding: 10px 0 10px 0;
  .detail-item__body {
    color: color(white);
    @include type-layout(xs, 25px);
    text-align: center;
    a {
      color: color(white);
      &:hover {
        color : color(link-light);
      }
    }
  }
}
