// Styles for Group of Links Components
// and Transaction View (landing page).
//
// Transaction views styles are in this stylesheet because 90% of
// the styling is the same as the group of links list.

.paragraphs-item-group-of-links-grid,
.paragraphs-item-group-of-links-list,
.view-transactions-main-transactions .view-content {
  @include full-width(color(section-bg));
}

.paragraphs-item-group-of-links-grid,
.paragraphs-item-group-of-links-list,
.view-transactions-main-transactions {

  .content {
    @extend .container;
  }

  h5 {
    margin-top: 0;
    font-size: 14px;

    .link-title {
      color: color(link);
    }
  }

  .link-item {
    margin-right: 50px;
    @include respond-to(m) {
      margin-right: 0;
    }
  }

  .link-item a {
    @include linked-component(1);
    background-repeat: no-repeat;
    background-position: right 27px top 11px;
    background-size: 16px;
  }

  .links-grid-left-rail {
    margin-top: 1em;

    .field-name-field-subheader {
      font-style: italic;
      text-transform: none;
    }
    .links-grid-field-subheader {
      @extend .supporting-lg;
    }

    a {
      word-break: break-all;
    }
  }

  .links-grid-field-grid-links,
  .links-grid-field-list-links,
  .links-grid-field-mini-grid-links,
  .view-transactions .view-content {
    margin-top: 1em;


    .field-grid-links {
      height: 260px;
      padding: 40px 25px 25px 25px;
    }

    .paragraphs-item-gol-list-links,
    .node-transaction.view-mode-listing {
      min-height: 225px;
      padding: 25px;
      @include respond-to(m) {
        min-height: 170px;
      }
    }

    .field-grid-links,
    .paragraphs-item-gol-list-links,
    .node-transaction.view-mode-listing {
      position: relative;
      background-color: color(text-bg);
      transition: background-color .1s ease;
      text-align: left;
      margin-bottom: 1.5em;

      .link-wrapper {
        color: color(link);
      }

      .link-icon-ribbon {
        background-image: url("../img/ribbon-charles.svg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: 31px;
        height: 50px;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 20px;
      }

      .list-link {
        @include serif-italic-text(color(link));
        @include type-layout(22px, 35px);
        @include respond-to(xl) {
          @include type-layout(25px, 40px);
        }
      }

      .link-title {
        overflow: hidden;
      }

      &:hover {
        background-color: color('main-nav-li-bg');
        .field-name-field-short-description {
          color: color(text-bg);
        }

        .link-item,
        .link-wrapper a,
        .link-wrapper,
        .link-title,
        .link-title a,
        .list-description {
          color: color(text-bg);
        }

      }

      .list-description {
        text-decoration: none;
        @include respond-to(m) {
          padding-right: 100px;
        }
      }

      .content {
        padding: 0;
      }

      .field-name-field-short-description {
        color: color('grey-dark');
        @include type-layout(17px, 27px);
        text-align: left;
        font-style: italic;
      }

      .component-section {
        padding: 0px;
        position: inherit;
      }

      .field-name-field-extra-info {
        position: absolute;
        bottom: 20px;
      }

    }
  }
}

.paragraphs-item-group-of-links-list {
  .link-item a {
    background-position: right 27px top 11px;
  }
}

.paragraphs-item-group-of-links-grid {
  .link-wrapper {
    @include type-layout(14px, 20px);
    @include sans-upper-dark(color(link), bold);
  }
  .link-item a {
    background-position: right 10px top 11px;
  }
  .grid-description {
    font-size: 18px;
  }
}

.paragraphs-item-group-of-links-mini-grid,
.applications-grid-of-links {

  .links-grid-field-grid-links {
    padding-top: 10px;
  }

  .field-grid-links {
    position: relative;
    height: 100px;
    padding: 0px 25px 25px 25px;
    background-color: color(section-bg);
    margin-bottom: 1.5em;

    .link-wrapper {
      @include type-layout(14px, 20px);
      @include sans-upper-dark(color(link));
      margin-bottom: 0;
      display: flex;
      align-items: center;
      height: 100px;
      padding-right: 35px;
    }
    &:hover {
      background-color: color('main-nav-li-bg');
      .link-wrapper {
        color: color(text-bg);
      }
    }
  }
  .grid-link a {
    background-position-x: calc(100% - 20px);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10%;
    padding-left: 20px;
  }
  .grid-description,
  .grid-extra {
    display: none;
  }
}

// Override for Application grid only
.applications-grid-of-links .grid-link a {
  padding-top: 0;
  padding-left: 35px;
  display: flex;
  align-items: center;
  &:hover,
  &:active {
    color: color(text-bg);
  }
}


// Overrides for Transactions View (transactions landing page).

.view-transactions-main-transactions {

  .item-list {
    @include full-width(color(section-bg));

    .pager {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 100px;
    }

  }

  .view-transactions .view-content{
    padding-top: 100px;
    padding-bottom: 50px;

    .views-row {
      @extend .container;
    }

  }

  .view-header {
    position: relative;
    top: 110px;
    z-index: 1;

    p {
      @extend h3;
      margin-top: 0;
      margin-bottom: 0;
    }

  }

  .bos-search-form {
    padding-top: 0;
  }

  .view-display-id-sticky_transactions {
    margin-top: -30px;

    .view-content {
      @include full-width(color(text-bg));
      padding-bottom: 0;

      .node-transaction.view-mode-listing {
        background-color: color(section-bg);
      }

      .list-description {
        color: color(text-dark);
      }

    }

  }

}
