// Component Level Styles

.view-status-displays {
  margin-top: 25px;
}

.view-status-displays.emergency {
  margin-top: 0;
}

.emergency .strikethrough-wrapper {
  @extend .container;
}

.heading-wrapper {
  text-align: center;
  position: relative;
}

.emergency .heading-wrapper {
  @include full-width(color(link-secondary));
  padding-top: 50px;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.emergency.dark-blue {
  .heading-wrapper {
    @include full-width(color(charles-blue));
  }

  .strikethrough {
    &:before {
      border-color: color(freedom-trail-red);
    }
  }

  .emergency-title {
    background-color: color(charles-blue);
  }

  .last-updated.emergency {
    color: color(optimistic-blue);
  }

  .description.emergency {
    color: color(optimistic-blue);
  }

  .emergency-header-tail {
    background-color: color(charles-blue);
  }

  .call-to-action.emergency a {
    background-color: color(optimistic-blue);
    color: color(white);

    &:hover {
      background-color: color(freedom-trail-red);
    }
  }
}

.strikethrough-wrapper {
  padding-bottom: 20px;

  .container {
    padding: 0;
  }
}

.strikethrough {
  position: relative;

  &:before {
    content: " ";
    border-top: 5px solid color(charles-blue);
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
  }

  &--middle:before {
    transform: translateY(-50%);
  }
}

.date-label,
.date-day-title,
.emergency-title {
  position: relative;
  z-index: 2;
  @include type-layout(20px, 20px);
  text-align: center;
  background-color: color(white);
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  @include respond-to(m) {
    @include type-layout(l, 30px);
    padding-left: 25px;
    padding-right: 25px;
  }
}

.emergency-title {
  background-color: color(link-secondary);
  color: color(text-bg);
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.date-label {
  color: color(text-red);
}

.date-day-holiday-subtitle {
  @include type-layout(xs, 30px);
  font-weight: 400;
  color: color(text-dark);
  display: block;
}

.description.emergency {
  color: color(text-dark);
  display: block;
  max-width: 900px;
  width: 85%;
  font-family: $montserrat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  @include type-layout(xs, 20px);

  @include respond-to(m) {
    @include type-layout(m, 28px);
  }
}

.call-to-action.emergency a {
  background-color: color(text-bg);
  color: color(link-secondary);

  &:hover {
    background-color: color(charles-blue);
  }
}

.emergency-header-tail {
  position: absolute;
  bottom: -12px;
  left: calc(50% - 12px);
  text-align: center;
  display: block;
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
  background-color: color(link-secondary);
}

// These styles add the line between rows for 3 column layouts
.view-status-displays .grid-wrapper {
  @include respond-to(m) {
    position: relative;
  }
}

.view-status-displays .status-item-wrapper {
  &:nth-of-type(3n-0) {
    @include respond-to(m) {
      &:after {
        content: " ";
        display: block;
        width: 100%;
        border-top: 1px dashed color(border);
        position: absolute;
        left: 0;
      }
    }
    @include respond-to(xl) {
      &:after {
        display: none;
      }
    }
  }
  &:nth-of-type(5n-0) {
    @include respond-to(xl) {
      &:after {
        content: " ";
        display: block;
        width: 100%;
        border-top: 1px dashed color(border);
        position: absolute;
        left: 0;
      }
    }
  }
  &:last-of-type {
    &:after {
      display: none;
    }
  }
}

// Individual Message Items

.status-item {
  position: relative;
  border-top: 1px dashed color(border);
  padding-top: 25px;
  @include respond-to(m) {
    text-align: center;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

.status-item-wrapper:first-child {
  .status-item {
    border-top: none;
    padding-top: 0;

    @include respond-to(m) {
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }
}

.status-message-title {
  @extend h5;
  font-style: normal;
  @include margin(0);
  @include respond-to(m) {
    @include margin(26px 0 17px);
  }
}

.last-updated.emergency {
  @include sans-upper-dark;
  @include type-layout(xs, 20px);
  margin: 11px 0;

  @include respond-to(m) {
    @include type-layout(m, 20px);
    margin: 11px 0;
    }
}

.status-item.linked .status-message-title {
  color: color(link);
}

.status-item.linked:hover .status-message-title {
  text-decoration: underline;
}

.status-message-body {
  @include type-layout(17px, 26px);
  font-style: italic;
  color: color(text);

  p {
    margin-top: 0;
    margin-bottom: 0;
    @include respond-to(m) {
      margin-top: inherit;
      margin-bottom: inherit;
    }
  }
}

.status-icon-wrapper {
  height: 65px;
  width: 65px;
  margin: 0 25px 0 0;
  position: relative;
  display: inline-block;
  @include respond-to(m) {
    margin: 0 auto;
    display: block;
  }
}

.status-icon-wrapper .alert {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.status-text-wrapper {
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: top;
  @include respond-to(m) {
    display: block;
    width: 100%;
  }
}

.status-item .link-wrapper {
  margin-bottom: 0;
}

.status-item a {
  @include linked-component;
  background-image: none;
}

// SVG Hover Styles

.status-item.linked:hover {

  svg {
    // Fill variations
    & .svg-fill-hover {
      fill: color(link);
    }

    //Stroke variations
    & .svg-stroke-hover {
      stroke: color(link);
    }

  }

}
