.paragraphs-item-text .entity-paragraphs-item,
.dr-c .entity-paragraphs-item:not(:last-child) {
  @extend .squiggle-border-bottom;
  overflow: auto;
  padding: 50px 0;

  &:last-child {
    background-image: none;
    border-bottom: none; // Removes dotted border from hub without effecting base theme
  }
}

.paragraphs-item-text-two-column.col_half {

  .field-name-field-left-column,
  .field-name-field-right-column {
    width: 100%;

    @include respond-to(m) {
      width: 50%;
      float: left;
    }
  }

  .field-name-field-left-column {
    @include respond-to(m) {
      padding-right: 20px;
    }
  }

  .field-name-field-right-column {
    @include respond-to(m) {
      padding-left: 20px;
    }
  }
}

.paragraphs-item-text-two-column.col_two_one_third {

  .field-name-field-left-column {
    width: 100%;

    @include respond-to(m) {
      width: 66.66%;
      float: left;
    }
  }

  .field-name-field-right-column {
    width: 100%;

    @include respond-to(m) {
      width: 33.33%;
      float: left;
    }
  }

  .field-name-field-left-column {
    @include respond-to(m) {
      padding-right: 20px;
    }
  }

  .field-name-field-right-column {
    @include respond-to(m) {
      padding-left: 20px;
    }
  }
}

.paragraphs-item-text-two-column.col_one_one_third {

  .field-name-field-left-column {
    width: 100%;

    @include respond-to(m) {
      width: 33.33%;
      float: left;
    }
  }

  .field-name-field-right-column {
    width: 100%;

    @include respond-to(m) {
      width: 66.66%;
      float: left;
    }
  }

  .field-name-field-left-column {
    @include respond-to(m) {
      padding-right: 20px;
    }
  }

  .field-name-field-right-column {
    @include respond-to(m) {
      padding-left: 20px;
    }
  }
}


.paragraphs-item-text-three-column {

  .field-name-field-left-column,
  .field-name-field-middle-column,
  .field-name-field-right-column {
    width: 100%;

    @include respond-to(m) {
      width: 33.33%;
      float: left;
    }
  }

  .field-name-field-left-column {
    @include respond-to(m) {
      padding-right: 26.66px;
    }
  }

  .field-name-field-middle-column {
    @include respond-to(m) {
      padding-right: 13.33px;
      padding-left: 13.33px;
    }
  }

  .field-name-field-right-column {
    @include respond-to(m) {
      padding-left: 26.66px;
    }
  }

}

.paragraphs-item-text.city-hall-building-background {

  background-image: none;
  @include respond-to(m) {
    background-image: image-url('city-hall.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30%;
  }
}
