.paragraphs-item-3-column-w-image {
  @extend .fullwidth;
  color: color(text-bg);
  background-color: color(section-bg-dark);

  .content {
    @extend .container;
  }

  a,
  a:link,
  a:visited {
    color: color(link-light); // Substitute for optimistic-blue when dark background.
  }
  a:hover {
    color: color(link-secondary);
  }

  .component-contact {
    a,
    a:link,
    a:visited {
      color: color(link-secondary);
    }
    a:hover {
      color: color(link-light); // Substitute for optimistic-blue when dark background.
    }
  }

  a.button,
  a.button:link,
  a.button:visited,
  a.button:hover,
  a.button:active {
    color: color(text-bg);
  }

  .cta-button {
    .link-wrapper {
      margin-bottom: 0;
    }
    a {
      background-position-x: right;
      color: color(text-bg);
      display: block;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 0;
      padding-right: 0;
      background-image: none;
    }
  }

  .field-three-col-link .content {
    padding-left: 0;
    padding-right: 0;
  }

  .three-column-container {
    overflow: hidden;
  }

  .section-header {
    border-bottom-color: color(border-bg);
  }

  h2 {
    color : color(text-bg);
  }

  .field-name-field-contact {
    color : white;
  }

  .column-wrapper {
    color: white;
    background-color: color(section-bg-dark);
    padding-top: 50px;
    text-align: center;
    @include one-col;

    @include respond-to(xl) {
      @include three-col;
      text-align: left;
    }

    img {
      border-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .field-three-col-title {
      @include border-sm($color: color(border-dark-bg));
      text-transform: uppercase;
      padding-bottom: 7px;
      padding-top: 20px;
      font-family: Montserrat;
      font-size: 16px;
    }

    .field-three-col-description {
      padding-top: 10px;
      margin-bottom: 35px;
    }

    .field-three-col-link {
      .paragraphs-items-field-link {
        margin-left: auto;
        margin-right: auto;
        display: block;

        .field-label {
          display: none;
        }
        .paragraphs-item-external-link {
          a:link,
          a:visited {
            @extend .button;
          }
        }
        .component-section {
          padding : 0;
        }
      }
    }
  }
}
