// Transaction Grid
//
// Markup: transaction-grid.hbs
//
// Style guide: Pages.topic.transaction-grid

.paragraphs-item-transaction-grid {
  @extend .fullwidth;
  background-color: color(section-bg);
  padding: 50px 0;

  .content {
    @extend .container;
  }

  .field-name-field-transactions {
    position: relative;
    background-color: color(text-bg);
    transition: background-color .1s ease;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    width: 100%;
    float: left;
    height: 103px;
    padding: 1.5em 1em;

    @include respond-to(s) {
      width: 49%;
      text-align: center;
      height: 285px;

      &:nth-child(even) {
        margin-left: 0;
        margin-right: 1%;
      }
      &:nth-child(odd) {
        margin-left: 1%;
        margin-right: 0;
      }
    }

    @include respond-to(m) {
      width: 23%;
        &:nth-child(4n-6) {
        margin-left: 0;
        margin-right: 2.66%;
      }
      &:nth-child(4n-5) {
        margin-left: 0;
        margin-right: 1.33%;
      }
      &:nth-child(4n-4) {
        margin-left: 1.33%;
        margin-right: 0;
      }
      &:nth-child(4n-3) {
        margin-left: 2.66%;
        margin-right: 0%;
      }
    }

    &:hover {
      background-color: color('link-secondary');
    }
  }

  a.wrap-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1.5em 1em;;
    @include respond-to(s) {
      padding: 1.75em 2em 2em 2em;
    }
  }

  .field-name-field-icon {
    height: auto;
    @include respond-to(s) {
      height: 145px;
    }
    @include respond-to(m) {
      height: 110px;
    }

    @include respond-to(xl) {
      height: 145px;
    }
  }

  .field-name-field-icon .background-image-formatter {
    width : 50px;
    margin: 0 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    @include respond-to(s) {
      height: 135px;
      width: auto;
      margin: 0 -40px;
      background-size: auto;
      position: inherit;
    }

    @include respond-to(m) {
      background-size: contain;
      height: 90px;
    }

    @include respond-to(xl) {
      background-size: auto;
      height: 135px;
    }

  }

  .paragraphs-items-field-grid-link a {
    font-style: italic;
    line-height: 27px !important;
  }

  .field-name-field-transactions:hover a {
    color: color(text-bg);
  }

  .link-wrapper {
    margin-left: 30px;
    @include respond-to(s) {
      margin-left: inherit;
    }
  }

  .paragraphs-item-external-link {
    padding: 0;
    margin-left: 55px;
    @include type-layout(20px, 27px);

    @include respond-to(s) {
      margin-left: 0;
    }

  }
}
