<div class="entity entity-paragraphs-item paragraphs-item-transaction-grid component-section" about="" typeof="">
    <a name="get-it-done" id="get-it-done" class="subnav-anchor"></a>
    <div class="content">
        <div class="sh">
            <div class="field field-name-field-component-title field-type-text field-label-hidden">
                <h2 data-short-title="Get It Done" class="component-title createNavItem-processed">Get It Done</h2>
            </div>
            <div class="field field-name-field-contact field-type-entityreference field-label-inline inline component-contact">
                Contact: <a href="#">Parking Clerk</a>
            </div>
        </div>
        <div class="field field-name-field-transactions field-type-field-collection field-label-hidden">
            <a href="#" class="wrap-link" target="_blank"></a>
            <div class="entity entity-field-collection-item field-collection-item-field-transactions clearfix" about="/field-collection/field-transactions/46" typeof="">
                <div class="content">
                    <div class="field field-name-field-icon field-type-image field-label-hidden">
                        <div class="background-image-formatter" style="background-image: url('http://placehold.it/145x165')">&nbsp;
                        </div>
                    </div>
                    <div class="paragraphs-items paragraphs-items-field-grid-link paragraphs-items-field-grid-link-full paragraphs-items-full">
                        <div class="link-wrapper">
                            <div class="link-wrapper external-link">
                                <a href="#" target="_blank">Pay a Parking Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field field-name-field-transactions field-type-field-collection field-label-hidden">
            <a href="#" class="wrap-link" target="_blank"></a>
            <div class="entity entity-field-collection-item field-collection-item-field-transactions clearfix" about="/field-collection/field-transactions/51" typeof="">
                <div class="content">
                    <div class="field field-name-field-icon field-type-image field-label-hidden">
                        <div class="background-image-formatter" style="background-image: url('http://placehold.it/145x165')">&nbsp;
                        </div>
                    </div>
                    <div class="paragraphs-items paragraphs-items-field-grid-link paragraphs-items-field-grid-link-full paragraphs-items-full">
                        <div class="link-wrapper">
                            <div class="link-wrapper external-link">
                                <a href="#" target="_blank">Appeal a Parking Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field field-name-field-transactions field-type-field-collection field-label-hidden">
            <a href="#" class="wrap-link" target="_blank"></a>
            <div class="entity entity-field-collection-item field-collection-item-field-transactions clearfix" about="/field-collection/field-transactions/56" typeof="">
                <div class="content">
                    <div class="field field-name-field-icon field-type-image field-label-hidden">
                        <div class="background-image-formatter" style="background-image: url('http://placehold.it/145x165')">
                            &nbsp;
                        </div>
                    </div>
                    <div class="paragraphs-items paragraphs-items-field-grid-link paragraphs-items-field-grid-link-full paragraphs-items-full">
                        <div class="link-wrapper">
                            <div class="link-wrapper external-link">
                              <a href="#" target="_blank">Get a New Parking Permit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field field-name-field-transactions field-type-field-collection field-label-hidden">
            <a href="#" class="wrap-link" target="_blank"></a>
            <div class="entity entity-field-collection-item field-collection-item-field-transactions clearfix" about="/field-collection/field-transactions/61" typeof="">
                <div class="content">
                    <div class="field field-name-field-icon field-type-image field-label-hidden">
                        <div class="background-image-formatter" style="background-image: url('http://placehold.it/145x165')">
                            &nbsp;
                        </div>
                    </div>
                    <div class="paragraphs-items paragraphs-items-field-grid-link paragraphs-items-field-grid-link-full paragraphs-items-full">
                        <div class="link-wrapper">
                            <div class="link-wrapper external-link">
                              <a href="#" target="_blank">Renew a Parking Permit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
