// Feedback Overlay
//
// Styles for overlay that contains feedback mechanisms.
//
// Markup: feedback-overlay.hbs
//
// Style guide: components.feedback-overlay


// JS adds a noscroll class to the body when a modal is open.
body.noscroll {
  overflow: hidden;
}

// Hiding modal region  -- can't use visually-hidden absolute positioning causes child elements not to display.
.region-modal {
  height: 0px;
  width: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: color(feedback-overlay-bg);
  z-index: 900;
  display: none;

  .container.feedback-container, .container {
    width: 100%;
    min-width: 0px;
    max-height: 100%;
    z-index: 9;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;

    @include respond-to(xl) {
      max-width: 66.667em;
      min-width: 38.889em;
      width: 90%;
    }

    &.container-max-width {
      max-width: 730px;
    }
  }

  .hidden-scroll {
    max-height: 100vh;
    overflow-y: auto;
    margin: 0 -300px 0 0;
    padding-right: 300px;
  }

  .content {
    background-color: color(feedback-content-bg);
    position: relative;
    z-index: 900;
    padding: 70px;
    text-align: center;
    color: color('text-dark');
  }

  p {
    font-style: italic;
  }

  .poll-content {
    padding: 0;
    margin-top: 0;
  }

  .modal-title {
    border-bottom: 8px solid;
  }

  h2 {
    margin-top: 18px;
    margin-bottom: 9px;
    padding-bottom: 4px;
    border-bottom: 8px solid;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: color(close-button);
    transition: background-color 0.3s ease;
    background-image: url(../img/close-modal-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
    padding: 0;

    &:hover {
      background-color: color(close-button-hover);
    }
  }

  p {
    margin: 30px 0 15px;
  }

  h5 {
    margin: 0;
    line-height: 18px;
  }

  h5 a {
    font-size: inherit;
  }

}

.modal-cta {
  @extend h5;
}
