
.drawer {
  display: none;

  &.mobile-only {

    @include respond-to(l) {
      display: block;
    }
  }
}

.drawer-trigger {
  cursor: pointer;
}

.drawer-trigger-chevron {
  background: url("../img/subnav-toggle.svg") center center no-repeat transparent;
  height: 20px;
  width: 20px;
  margin: 4px;
  transform: rotate(270deg);
  float: right;
}

.drawer-trigger.active {
  .drawer-trigger-chevron {
    background-image: url("../img/subnav-toggle-open.svg");
    transform: rotate(180deg);
  }

  .title {
    color: color(link-secondary);
  }

}

.view-public-notice-landing,
.view-public-notice-archive {
  .view-filters .drawer-wrapper {
    width: calc(33.3% - 66px);
  }

  .b.views-exposed-topbar {
    margin-top: -25px;
    z-index: 1;
  }

  .b-fv {
    transform: translateY(50%);
  }

  .views-exposed-topbar .view-filters .drawer.mobile-only {
    padding: 0;
  }
}

.b {
  .view-filters .drawer-trigger:first-child,
  .views-exposed-widget.views-submit-button input[type="submit"],
  .views-exposed-widget.views-reset-button input[type="submit"] {
    margin-top: 0;
  }
}
