// Branding Header :: Hub
//
// Markup: hub-header.hbs
//
// Style guide: components.hub-header


// Overrides the Base Theme's header styles

.header,
%header {
  // Overrides the header's background color
  background-color: color(section-bg-dark);
  margin-left: 0;
}

// New Styles for user section of header
.header,
%header {

  .user_info {
    height: 65px;
    padding: 16px 0;
    @include respond-to(m) {
      padding: 16px 0;
    }
    @include respond-to(xl) {
      padding: 12px 0;
    }

    .dd {
      position: relative;

      &__menu {
        right: 0;
      }
    }
  }

  .user_logout {
    @include respond-to(xl) {
      right: 35px;
    }
  }

  .avatar-wrapper {
    border-radius: 100%;
    height: 34px;
    width: 34px;
    overflow: hidden;
    background-size: 40px 40px;
    background-position: center;
    text-indent: -999em;
    outline: none;

    @include respond-to(xl) {
      height: 40px;
      width: 40px;
    }
  }

  .header-menu a {
    color: color(link);

    &:hover {
      color: color(link-secondary);
    }
  }

  .header-container {
    height: 3.6rem;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
  }

  .menu-user {
    margin-top: 15px;
    width: 118px;
    @include respond-to(m) {
      width: 136px;
    }
    @include respond-to(xl) {
      margin-top: 13px;
      width: 152px;
    }
  }

}

.logged-in .header-right {

  li[class^="menu-"].first {
    display: none;
  }

  li[class^="menu-"].last {
    margin-right: 1.4em;
  }

}

.not-logged-in .header-right {

  li[class^="menu-"] {
    display: none;
  }

  li[class^="menu-"].first {
    display: block;
  }



}
