<div class="kss-container">

  <header class="header" role="banner">

    <div class="container">
      <div id="nav-trigger" class="nav-trigger">
        <span></span>
        <span></span>
        <span></span>
        <div class="menu-label">MENU</div>
      </div>
      <h1 class="header__site-name">
        <a href="/" title="Home" class="header__site-link" rel="home">
          <span>Spyglass</span>
        </a>
      </h1>
      <div class="header__region region region-header">
        <div class="block block-bos-blocks contextual-links-region first last odd" id="block-bos-blocks-search">
          <div class="drawer-trigger search-trigger">
            <div class="drawer-trigger-search"></div>
          </div>
          <div class="slide-down-element drawer">
            <div class="content bos-search-form">
              <button class="search-close-button" title="Close Search"></button>
              <div class="slide-down-body">
                <span class="element-invisible slide-down-id">search</span>
                <form accept-charset="UTF-8" action="//search.usa.gov/search" id="search_form" method="get">
                  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
                  <input id="affiliate" name="affiliate" type="hidden" value="cob" />
                  <label for="query" class="hidden">Search</label>
                  <input autocomplete="off" class="usagov-search-autocomplete" placeholder="Search..." id="query" name="query" type="text" />
                  <button class="usagov-search-submit" type="submit" title="Search"></button>
                </form>
              </div><!-- end .slide-down-body -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- end .container -->

    <div class="user_info">
      <div class="avatar-wrapper">
        <img src="/sites/all/themes/custom/boston_hub/dist/img/default-avatar.svg">
      </div>
      <div class="name-wrapper">
        <a href="#">admin</a>
      </div>
    </div> <!-- end .user_info -->

  </header>
</div>
