// Branding header
//
// Markup: header.hbs
//
// Style guide: components.header

.header,
%header {
  @extend %clearfix;

  .container {
    max-width: none;
    padding: 0 2.5em 0 0;

    @include respond-to(m) {
      padding-right: 3.5em;
    }
  }

  // Styles for fixed position header
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;

  // Wrapper for website name and slogan.
  &__name-and-slogan {
    float: left;
  }

  // The name of the website.
  &__site-name {
    padding: 0;
    position: absolute;
    top: 0;
    left: 2.7em;
    margin: 0;
    height: 65px;
    width: 140px;
    line-height: 0;
    display: block;
    background: url('../../logo.svg') no-repeat 0 0 transparent;
    background-position: 0 54%;
    background-size: 120px 16px;

    @include respond-to(xl) {
      left: 1.3em;
      background-size: auto;
      width: 180px;
    }
  }

  &__site-name a {
    height: 100%;
    width: 100%;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    margin: 0;
  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }

  .header-seal {
    position: absolute;
    border-radius: 100%;
    left: 50%;
    margin-left: -52px;
    display: none;
    width: 105px;
    height: 105px;

    @include respond-to(xxl) {
      display: block;
    }

    .seal-image {
      position: absolute;
      z-index: 1;
      width: 85px;
      height: 85px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      &:hover {
        cursor: pointer;
      }
    }

    .hide-shadow-layer {
      background-color: color('text-bg');
      width: 115px;
      height: 65px;
      position: fixed;
      top: 0;
      margin-left: -5px;
    }

    .shadow-layer {
      height: 105px;
      width: 105px;
      border-radius: 100%;
      box-shadow: 0 1px 2px 2px rgba(0,0,0,.1);
      background-color: white;
    }
}

  .container,
  .nav-trigger {
    height: 3.6rem;
  }

  .nav-trigger {
    background-color: color(menu-icon-bg);
    color: color(text-bg);
    text-align: center;
    overflow: hidden;
    width: 3.6rem;
    padding: .75em;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .header-menu {
    float: right;
    list-style-type: none;
    margin: 4px 0 0;
    padding: 0;
    display: none;

    @include respond-to(l) {
      display: block;
    }
  }

  .header-menu li {
    list-style-type: none;
    display: inline-block;
  }

  .header-menu a {
    font-family: $montserrat;
    text-transform: uppercase;
    color: color(link-header);
    @include type-layout(xs);
    letter-spacing: 1.5px;
    display: block;
    min-width: 45px;
    text-align: center;
    margin-left: 1.4em;

    &:hover,
    &.active {
      color: color(link-secondary);
    }
  }
}
