<div class="kss-container">
<header class="header" role="banner">
    <div class="container">

      <div id="nav-trigger" class="nav-trigger">
        <span></span>
        <span></span>
        <span></span>
        <div class="menu-label">MENU</div>
      </div>

              <h1 class="header__site-name">
          <a href="/" title="Home" class="header__site-link" rel="home"><span>Boston.gov</span></a>
        </h1>

      <a href="/" title="Home" rel="home" id="seal" class="header-seal">
        <img src="/sites/all/themes/custom/boston/dist/img/seal.svg" alt="Home" class="seal-image">
        <div class="hide-shadow-layer"></div>
        <div class="shadow-layer"></div>
      </a>

      <ul class="header-menu">
        <li><a href="#" class="translate-trigger">Translate</a>
          <ul class="translate-inner popover">
            <li><a href="#" class="language-feedback-link modal-link" data-modal="kabuverdianu">Kabuverdianu</a></li>
            <li><a href="#" class="language-feedback-link modal-link" data-modal="creole">Créole Haïtien</a></li>
            <li><a href="#" class="language-feedback-link modal-link" data-modal="portugues">Português</a></li>
            <li><a href="#" class="language-feedback-link modal-link" data-modal="espanol">Español</a></li>
            <li><a href="#" class="language-feedback-link modal-link" data-modal="vietnemese">Tiếng Việt</a></li>
            <li><a href="#" class="language-feedback-link modal-link" data-modal="chinese">中文</a></li>
          </ul>
        </li>
        <li class="feedback-menu-item-added-processed"><a href="#" class="feedback-link modal-link" data-modal="feedback">Feedback</a></li>
      </ul>

        <div class="header__region region region-header">
    <div class="block block-bos-blocks first last odd" id="block-bos-blocks-search">
  <div class="drawer-trigger search-trigger">
    <div class="drawer-trigger-search"></div>
  </div>
  <div class="slide-down-element drawer">
    <div class="content bos-search-form">
      <button class="search-close-button" title="Close Search"></button>
<div class="slide-down-body">
  <span class="element-invisible slide-down-id">search</span>
  <form accept-charset="UTF-8" action="//search.usa.gov/search" id="search_form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="affiliate" name="affiliate" type="hidden" value="cob">
    <label for="query" class="hidden">Search</label>
    <input autocomplete="off" class="usagov-search-autocomplete ui-autocomplete-input" placeholder="Search..." id="query" name="query" type="text" role="textbox" aria-autocomplete="list" aria-haspopup="true">
    <button class="usagov-search-submit" type="submit" title="Search"></button>
  </form>
</div><!-- end .slide-down-body -->    </div>
  </div>
</div>
  </div>

    </div>

  </header>
</div>
