body.section-homepage .paragraphs-items {
  .component-section:nth-child(3) .section-header {
    display: none;
  }
}

p.big.intro-text {
  @extend .supporting-lg;
  text-align: center;
  margin-top: 0;
}

section.timeline {
  margin: 0 0 60px 0;
  text-align: center;
}

.timeline-step-wrapper {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 20px;
  text-align: left;

  @include respond-to(m) {
    width: 49%;
    padding: 0 20px;
  }

  @include respond-to(xl) {
    width: calc(16.222% - 40px);
    margin: 0 20px;
    padding: 0 10px;
  }

  .timeline-step {
    @include respond-to(xl) {
      width: 130px;
    }
  }

  .step-text {
    @extend h5;
    color: color(text-light);
    margin: 0 0 10px 0;
  }

  .timeline-number {
    @extend h1;
    @include type-layout(60px, 60px);
    border-bottom: 3px solid color(border-timeline-step);
    margin: 0 0 20px 0;
    padding-bottom: 8px;
  }

  .completed .timeline-number {
    background: url('../img/check-mark-dark.png') no-repeat right 42px transparent;
  }

  .pending .timeline-number {
    color: color(text-light);
    border-color: color(text-light);
  }

  .step-title {
    @extend h5;
    margin: 0 0 10px 0;
  }

  .pending .step-title {
    color: color(text-light);
  }

}