// Skip link
//
// To make the link completely hidden until a user tabs to the link, combine it
// with the `visually-hidden` component.
//
// :focus - Focus styling.
//
// Markup: skip-link.hbs
//
// Style guide: components.navigation.skip-link

.skip-link,
%skip-link {
  display: block;
  padding: 2px 0 3px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  &__wrapper {
    margin: 0;

    @media print {
      display: none;
    }
  }

  &--withBackground {
    background-color: #1578d1;
  }
}
