  .popover {
    position: absolute;
    border: 1px solid color(border);
    background-color: color(popover-bg);
    display: none;

    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: color(popover-bg);
      border-width: 10px;
      margin-left: -10px;
    }
    &:before {
      border-color: rgba(210, 210, 210, 0);
      border-bottom-color: color(popover-carat-border);
      border-width: 11px;
      margin-left: -11px;
    }

  }