.page-employee-directory {

  .search-form,
  .filter-wrapper {
    @include one-col;
    @extend .clearfix;
    @include respond-to(xl) {
      @include two-col;
    }
  }

  .main-content .filter-wrapper {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;

    @include respond-to(xl) {
      padding-top: 25px;
    }

  }

  .main-content .bos-search-form {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;

    .form-item {
      margin-top: 10px;

      @include respond-to(xl) {
        margin-bottom: 20px;
      }

    }

  }

}

.main-content .bos-search-form .form-wrapper {
  margin-left: 0;
  margin-right: 0;
}

// Employee Directory Solr Search styles
.filter-wrapper {

  a.button.refresh-button {
    padding-top: 0;
    padding-right: 0;
    // margin-top: 20px;
    height: 58px;
    width: 58px;
    text-indent: -9999px;
    overflow: hidden;
    background-color: color(section-bg-dark);
    background-image: url(../img/icon-refresh.svg);
    background-repeat: no-repeat;
    background-position: center 13px;
    background-size: 24px;
    position: relative;
    &:hover {
      background-color: color(link-secondary);
    }
    a {
      @include linked-component;
    }
  }

  .solr-search-sort button,
  .solr-search-filter button,
  a.button.refresh-button {
    height: 58px;
    .drawer-trigger-chevron{
      background-image: url(../img/chevron.svg);
      height: 20px;
      width:20px;
      transform: rotate(0deg);
      margin-top: 20px;
      position: absolute;
      top: 0;
      right: 8px;
    }
  }

  .solr-search-sort {
    height: 58px;
    font-size: 0.66667rem;
    font-family: $font-body;
    line-height: 1.38889rem;
    font-weight: bold;
    text-transform: uppercase;

    background-color: color(optimistic-blue);
    a {
      color: color(text-bg);
    }
    .drawer-trigger-chevron {
      transform: rotate(270deg);
      background-image: url(../img/chevron.svg);
      height: 20px;
      width:20px;
      margin-top: 20px;
      position: absolute;
      top: 0;
      right: 8px;
    }
    &:hover {
      background-color: color(button-bg-hover);
    }
  }
  .solr-search-sort.descending .solr-sort-button {
    .drawer-trigger-chevron {
      transform: rotate(90deg);
    }
  }

  a.button.refresh-button {
    background-color: color(section-bg-dark);
    a {
      color: color(text-bg);
    }
  }



  .solr-search-sort .solr-sort-button {
    width: 150px;
    position: relative;
    padding-right:  5px;
    @include type-layout(xxs, 25px);
    a {
      @include linked-component($indent: 0);
      padding: 1.5em 35px 1.5em 1.5em;
    }
    &:hover {
      background-color: color(button-bg-hover);
    }
  }

  .solr-search-filter {
    width: 100%;
    position: relative;
    margin-bottom: 3%;
    @include respond-to(m) {
      width: calc(94% - 208px);
    }
    button {
      width: 100%;

      &.drawer-trigger {
        margin-top: 0;

        &:first-child {
          @include respond-to(xl) {
            margin-top: 0;
          }
        }
      }

      .drawer-trigger-chevron {
        transition: 0.25s;
      }
    }
    button:focus {
      outline: none;
      background-color: color(link);
    }
    button.drawer-trigger.active {
      background-color: color(link-secondary);
      .drawer-trigger-chevron {
        margin-top: 21px;
      }

    }
  }

  .solr-search-filter,
  .solr-search-sort {
    margin-right: 3%;
    button {
      padding-right: 35px;
    }
  }

  .solr-search-sort.mobile-show {
    @include respond-to(xl) {
      display: none;
    }
  }

  .solr-search-sort.mobile-hide {
    display: none;
    @include respond-to(xl) {
      display: block;
    }
  }

  .solr-search-sort,
  .solr-search-filter,
  a.button.refresh-button {
    float: left;
  }

  .solr-search-sort ul {
    padding: 0;
    margin: 0;
  }

  .solr-search-sort ul li {
    list-style: none;
  }

  .solr-search-sort ul li img {
    display: none;
  }

}

.active-filters {
  @include sans-upper-dark(color(text));
  @include type-layout(xs, 20px);
  padding: 20px 0;

  .applied-filters-label {
    color: color(text-dark);
  }
}

.department-list-link {
    @include sans-upper-dark(color(link));
    clear: both;
    margin: 20px 0 20px 0;

    @include respond-to(m) {
      margin-top: 0;
    }

}

.employee-directory-results {
  @include full-width;
  padding-top: $default_gutter;
  padding-bottom: $default_gutter;

  .person-highlight-area {
    background-color: color(text-bg);
    padding: $default_gutter;

    &:hover .person-profile-display-name {
      color: color(text-bg);
    }

  }

  .person-profile-photo-list {
    padding: 0;
  }

  .person-profile-image {
    height: 96px;
    width: 96px;
    margin: 20px auto 20px;
    border-radius: 50%;
  }

  .person-profile-display-name {
      font-size: 14px;
      font-weight: 700;
  }

  .person-profile-position-title-list {
    @include serif-italic-text(inherit);
    font-weight: 700;
  }

}
