.page-search {

  // Force default search page to fill viewport height.
  .main {
    min-height: calc(100vh - 336px;);
    @include respond-to(xl) {
      min-height: calc(100vh - 305px;);
    }
  }

  .search-results-wrapper {
      @include full-width(color(section-bg));
      margin-top: 100px;
      padding: 50px 0;
  }

}

ol.search-results {
  padding-left: 0;

  li.search-result {
    margin-bottom: 55px;

    @include respond-to(m) {
      margin-bottom: 75px;
    }
  }

  h4.title {
    @include type-layout(24px, 28px);
    margin-bottom: 10px;
    word-break: break-word;

    @include respond-to(m) {
      @include type-layout(l, 35px);
    }

    a[href$=".pdf"],
    a[href$=".txt"] {
      background-image: url('../../../boston/dist/img/icon-document.svg');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 18px;
      padding-right: 30px;
    }

  }
}

.search-position-title {
  word-break: break-all;
}

.search-results .search-snippet-info,
.search_found_zero,
.search-suggestions ul,
.spelling-suggestions {
  @include type-layout(18px, 26px);
  font-weight: 400;

  @include respond-to(m) {
    @include type-layout(24px, 32px);
  }

}

.search_found_zero,
.search-suggestions ul,
.spelling-suggestions dt {
  font-style: italic;
}

.spelling-suggestions dt {
  display: inline;
  strong {
    font-weight: 400;
  }
}

.spelling-suggestions dd {
  @include sans-upper-dark(inherit, 700);
  display: inline;
  margin-left: 0;
}

.spelling-suggestions dd:after {
  content: " ?";
  @include serif-italic-text;
  font-weight: 400;
}

.spelling-suggestions dt:after {
  content: ": ";
}

.search-results .search-snippet-info {
  padding-left: 0;
  word-break: break-word;

  p.search-snippet {
    margin-bottom: 16px;
  }

  p.search-info {
    font-style: italic;
  }
}

.search-suggestions h4 {
  color: color(text);
  margin-top: 50px;
  margin-bottom: 0;
  @include respond-to(xl) {
    margin-top: 0;
  }
}

.search-suggestions li {
  background-position: left 7px;
  @include respond-to(xl) {
    background-position: left 11px;
  }
}

.apachesolr-facets h3 {
  margin-top: 0;
  margin-bottom: 0;

  @include respond-to(xl) {
    margin-top: 39px;
  }

}
