<footer class="footer region region-footer">
  <div class="container">
    <div class="menu-block-wrapper menu-block-2 menu-name-menu-footer-menu parent-mlid-0 menu-level-1">
      <ul class="menu">
        <li class="menu__item is-leaf is-active first last leaf active menu-mlid-1473">
          <a href="/" title="" class="menu__link active">Need something else?</a>
        </li>
        <li class="menu__item modal-link" data-modal="masquerade">
          <a href="/masquerade" class="menu__link">Masquerade</a>
        </li>
      </ul>
    </div>
    <span class="footer-feature">
      Mayor Martin J. Walsh
    </span>
  </div>
</footer>
