.component-short-title {
  @extend %visually-hidden;
}

.paragraphs-items-field-components > .component-section {
  padding: 50px 0;
  position: relative;  // needs to be relative for absolute positioned child anchor tags

  .contact-departments-container h2.component-title {

    @include respond-to(m) {
      max-width: none;
    }

    @include respond-to(xl) {
      max-width: none;
    }
  }
}

.component-section {
  .sh {
    margin-bottom: 1rem;

    @include respond-to(xl) {
      margin-bottom: 1.25rem;
    }
  }
}

// Placing all component padding overrides here to watch for patterns
// Overrides

.paragraphs-items-field-components > .component-section.component-no-title,
.paragraphs-items-field-components > .component-section.paragraphs-item-photo {
  padding-top: 0px;
  padding-bottom: 0px;
}

// Removes top padding on grid of people if it is the
// first component in the component field on node listing page.
.node-listing-page .paragraphs-items-field-components>.paragraphs-item-grid-of-people:first-child {
  padding-top: 0px;
}
