// Pager
//
// Paged navigation is a list of page numbers when more than 1 page of content
// is available.
//
// Markup: pager.hbs
//
// Style guide: components.navigation.pager

.pager,
%pager {
  clear: both;
  padding: 0;
  text-align: center;
  padding-top: 25px;
  font-size: 14px;


  @include respond-to(m) {
    padding-top: 75px;
    font-size: inherit;
  }

  @media print {
    display: none;
  }

  // Removes custom styling added to global unordered lists
  &-item:before,
  &-current:before,
  &-first:before,
  &-previous:before,
  &-last:before,
  &-next:before,
  &-disabled:before {
    content: "";
    @include margin(0);
  }

  // A page item in the pager list.
  &-item,
  &-current,
  &-previous,
  &-next,
  &-disabled,
  &-ellipsis {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    background-color: color(pager-bg);
    border-color: color(pager-color);
    border-style: solid; 
    border-width: 3px 0 3px 3px;
    height: 2.5em;
    width: 1.75em;
    line-height: 2;
    overflow: hidden;
    font-family: $montserrat;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 -3px;
    text-indent: 0;
    background-image: none;
    position: relative;
    z-index: 1;

    @include respond-to(m){
      height: 3em;
      width: 2.5em;
      line-height: 2.5;
    }

    &:nth-last-child(2) {
      border-width: 3px;
      width: 1.75em;
      @include respond-to(m) {
        width: 2.56em;
      }

    }

  }

  &-current {
    padding: 0;
  }

  &-current,
  &-previous,
  &-next {
    background-color: color(pager-bg-active);
    color: color(pager-text-active);
  }

  & a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  &-current,
  &-item a {
    color: color(pager-color);
  }

  &-first,
  &-previous,
  &-last,
  &-next,
  &-disabled {
    width: 4.5em;

    @include respond-to(m) {
      width: 5em;
    }

  }

  &-first a,
  &-previous a,
  &-last a,
  &-next a {
    color: color(pager-text-active);
  } 

  // &-item:last-child,
  // &-current:last-child,
  // &-last:last-child,
  &-next,
  &-disabled.last {
    border-width: 3px 3px 3px 0;
    margin-left: -4px;
    z-index: 0;
  }

  &-item:hover,
  &-first:hover,
  &-previous:hover,
  &-last:hover,
  &-next:hover {
    background-color: color(pager-bg-hover);
  }

  &-disabled {
    background-color: color(pager-disabled-bg);
    color: color(pager-disabled-color);
    border-color: color(pager-disabled-color);
    
    a {
      color: color(pager-disabled-color);
    }

    &:hover {
      background-color: color(pager-disabled-bg);
    }
   }

  // The current page's list item.
  &__current-item {
    @extend %pager__item;
    font-weight: bold;
  }
}

//
// Drupal selectors.
//

// .pager-item     - A list item containing a page number in the list of pages.
// .pager-first    - The first page's list item.
// .pager-previous - The previous page's list item.
// .pager-next     - The next page's list item.
// .pager-last     - The last page's list item.
// .pager-ellipsis - A concatenation of several list items using an ellipsis.

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis {
  @extend %pager__item;
}

.pager-current {
  @extend %pager__current-item;
}
