<ul class="pager {{modifier_class}}">
  <li class="pager-previous">
    <a href="/frontpage">prev</a>
  </li>
  <li class="pager-item">
    <a title="Go to page 1" href="/frontpage">1</a>
  </li>
  <li class="pager-current">
    2
  </li>
  <li class="pager-item">
    <a title="Go to page 3" href="/frontpage?page=2">3</a>
  </li>
  <li class="pager-item">
    <a title="Go to page 4" href="/frontpage?page=3">4</a>
  </li>
  <li class="pager-item">
    <a title="Go to page 5" href="/frontpage?page=4">5</a>
  </li>
  <li class="pager-item">
    <a title="Go to page 6" href="/frontpage?page=5">6</a>
  </li>
  <li class="pager-next">
    <a href="/frontpage?page=2">next</a>
  </li>
</ul>

<ul class="pager {{modifier_class}}">
  <li class="pager-previous pager-disabled">
    <a href="/frontpage">prev</a>
  </li>
  <li class="pager-item">
    <a title="Go to page 2" href="/frontpage?page=1">1</a>
  </li>
  <li class="pager-current">
    2
  </li>
  <li class="pager-item">
    <a title="Go to page 3" href="/frontpage?page=2">3</a>
  </li>
  <li class="pager-item">
    <a title="Go to page 4" href="/frontpage?page=3">4</a>
  </li>
  <li class="pager-item">
    <a title="Go to page 5" href="/frontpage?page=4">5</a>
  </li>
  <li class="pager-item">
    <a title="Go to page 6" href="/frontpage?page=5">6</a>
  </li>
  <li class="pager-next">
    <a href="/frontpage?page=2">next</a>
  </li>
</ul>
